.left-side-acc-b-t{
	width: 33%;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	min-height: 40px;
	padding-bottom: 25px;
}
.right-side-acc-b-t{
	width: 63%;
	border-radius: 10px;
	background-color: white;
	min-height: 40px;
	padding-top: 30px;
	margin-bottom: 35px;
}
.left-acc-itemf-ftp{
	width: 80%;
	margin: 0px auto 15px auto;
	display: block;
	background-color: white;
	border-radius: 10px;
	min-height: 78px;
}

.left-acc-itemf-ftp-flex{
	display: flex;
	width: 80%;
	margin: 0px auto;
	min-height: 20px;
	padding: 9% 0px;
}
.profile-title-acc-c{
	font-family: 'basier_circlebold';
	font-size: 16px;
	color: var(--slate);
  margin-bottom: 0;
	padding-left: 0px;
}

.lft-acc-block-info-text{
	display: inline;
	font-size: 14px;
  padding: 0;
  margin: 0;
	font-family: 'basier_circleregular';
	color: var(--battleship-grey);
}


