<div class="sec-choosen-service">
  <div class="sl-inner pt-80 pb-80  pt-md-60 pb-md-60  pt-xs-40 pb-xs-40">
    <div class="container">
      <div class="row row-scs--heading justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="scs-heading--main text-center">
            <h1 class="slate--color bc--bold text-center mb-10">AUA (Ask us Anything)</h1>
            <p class="battleship-grey--color mb-0">The name says it all. A hiring/recruiting professional answers all your career related questions. Ask us Anything!</p>
          </div>
        </div>
      </div>

      <div class="row row-scs--main justify-content-center mt-40">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class="scs-box--main">
            <div class="scs-box--inner">
              <div class="scs-box--head">
                <div class="scs-head--item">
                  <div class="scs-contents--box">
                    <h4 class="slate--color bc--bold mb-1">Brief Session</h4>
                    <small class="blue-grey--color d-block">30 mins</small>
                  </div>
                </div>
                <div class="scs-head--item">
                  <div class="scs-contents--box">
                    <h4 class="slate--color bc--bold mb-1">$49</h4>
                  </div>
                </div>
              </div>
              <div class="scs-box--icon">
                <span><img src="assets/img/AskUs/icon-depth-coaching.svg" alt="" /></span>
              </div>
              <div class="scs-box--body">
                <div class="features-lists">
                  <ul class="list-inline">
                    <li><span>30 mins call to answer all <br> your questions.</span></li>
                  </ul>
                </div>
                <div class="take-plan-btn mt-50">
                  <a href="" class="btn btn-medium rounded-pill btn-bordered-green d-block bc--bold">Choose this plan</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class="scs-box--main">
            <div class="scs-box--inner">
              <div class="scs-box--head">
                <div class="scs-head--item">
                  <div class="scs-contents--box">
                    <h4 class="slate--color bc--bold mb-1">In depth session</h4>
                    <small class="blue-grey--color d-block">60min</small>
                  </div>
                </div>
                <div class="scs-head--item">
                  <div class="scs-contents--box">
                    <h4 class="slate--color bc--bold mb-1">$99</h4>
                  </div>
                </div>
              </div>
              <div class="scs-box--icon">
                <span><img src="assets/img/AskUs/icon-absolute-plan.svg" alt="" /></span>
              </div>
              <div class="scs-box--body">
                <div class="features-lists">
                  <ul class="list-inline">
                    <li data-fa-icon="&#xf00c;"><span>60 minute In-depth session with our recruiting expert.</span></li>
                  </ul>
                </div>
                <div class="take-plan-btn mt-50">
                  <a href="" class="btn btn-medium rounded-pill btn-bordered-green d-block bc--bold">Choose this plan</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="sec-cta-service">
  <div class="sl-inner pb-80">
    <div class="container">
      <div class="row seccs-row--main justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 pb-md-60 pb-xs-40">
          <div class="seccs-content--main seccs-content--left">
            <h4 class="title-lg slate--color bc--bold mb-10">Looking for another service?</h4>
            <h4 class="sub-title-lg slate--color mb-0 ">You can choose another service whichever suits for you.</h4>
            <div class="action-link mt-30"><a href=""><span>Select Service</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec-howitworks ice2">
  <div class="sl-inner pt-80 pb-40  pt-md-60 pb-md-30  pt-xs-50 pb-xs-25">
    <div class="container">
      <div class="row sechw-row--heading justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="sechw-content--main text-center mb-40">
            <h1 class="slate--color bc--bold text-center mb-10">How it Works?</h1>
            <p class="battleship-grey--color mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend ipsum justo, vitae lacinia mauris hendrerit quis. Etiam metus elit, porta at lorem id, malesuada eleifend ipsum.</p>
          </div>
        </div>
      </div>
      <div class="row sechw-row--content justify-content-center">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="sechw-box--main text-center mb-40 mb-md-30 mb-xs-25">
            <div class="sechwb-icon">
              <span><img src="assets/img/AskUs/icon-select-service.svg" alt="" /></span>
            </div>
            <h5 class="slate--color bc--bold mb-10">Select a Service</h5>
            <p class="battleship-grey--color mb-0">Choose the service that best fits your objectives and helps you tackle specific obstacles.</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="sechw-box--main text-center mb-40 mb-md-30 mb-xs-25">
            <div class="sechwb-icon">
              <span><img src="assets/img/AskUs/icon-select-availability.svg" alt="" /></span>
            </div>
            <h5 class="slate--color bc--bold mb-10">Select your Availability</h5>
            <p class="battleship-grey--color mb-0">Let us know what times work for in a given week on our interactive calendar. Give us some career-related info about yourself so our coach is better prepared.</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="sechw-box--main text-center mb-40 mb-md-30 mb-xs-25">
            <div class="sechwb-icon">
              <span><img src="assets/img/AskUs/icon-connect-coach.svg" alt="" /></span>
            </div>
            <h5 class="slate--color bc--bold mb-10">Connect with your Coach</h5>
            <p class="battleship-grey--color mb-0">You will be assigned a coach based on your needs and they will connect with you via email within one business day to confirm a time for your first appointment.</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="sechw-box--main text-center mb-40 mb-md-30 mb-xs-25">
            <div class="sechwb-icon">
              <span><img src="assets/img/AskUs/icon-get-started.svg" alt="" /></span>
            </div>
            <h5 class="slate--color bc--bold mb-10">Get Started</h5>
            <p class="battleship-grey--color mb-0">Meet with your coach over a video call or phone call. Outline an action plan and get ready to kickstart your career! </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="home-page-block-fifth clicked-arr-left">
  <div class="content-container-carousel">
    <div class="center-slider-hmp-side">
      <!--CAROUSEL BUTTONS CONTAINER-->
      <div class="buttons-container-car-lft-rgt">
        <div class="left-slider-hmp-side no-select">
          <div class="arrow-car-hmp left-car-hmp">
            <div class="arrow-container">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 11 10">
                <g fill="none" fill-rule="evenodd">
                  <g fill-rule="nonzero" class="arrow-main-fill">
                    <g>
                      <g>
                        <g>
                          <g>
                            <g>
                              <path
                                d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                                transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="right-slider-hmp-side no-select">
          <div class="arrow-car-hmp right-car-hmp">
            <div class="arrow-container-right">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 11 10">
                <g fill="none" fill-rule="evenodd">
                  <g fill-rule="nonzero" class="arrow-main-fill-right">
                    <g>
                      <g>
                        <g>
                          <g>
                            <g>
                              <path
                                d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                                transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <!--CAROUSEL UTEMS CONTAINER-->
      <section class="single-item slider">
        <!--ITEM-->
        <div class="item-carousel-body">
          <div class="left-item-car-side ">
            <p class="header-item-text">Tim was incredible to work with as a job coach and resume writer. Like most
              recruiters,
              I thought I knew how to write a perfect resume for myself. Or at least I thought I did. Tim transformed
              my resume
              from the dumpster fire that it was-to Gold. The information that he provided for the specific job
              I had been looking for during the first 6 months of the pandemic, was priceless. Without Tim,
              I would not have landed the job that I have today. For the first time in my career, I like
              my job. If you have been laid off due to the pandemic, if you've just been at the same
              company for a long time and want to leave, or if you are just a recruiter that knows
              it all, you should talk to Tim.
            </p>
            <p class="header-item-own-name">Sam Masinelli</p>
            <p class="header-item-own-description">Director, Practice Development at LifeStance Health</p>
          </div>
          <div class="right-item-car-side" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
        </div>
        <!--ITEM-->
        <div class="item-carousel-body">
          <div class="left-item-car-side ">
            <p class="header-item-text">Tim was incredible to work with as a job coach and resume writer. Like most
              recruiters,
              I thought I knew how to write a perfect resume for myself. Or at least I thought I did. Tim transformed
              my resume
              from the dumpster fire that it was-to Gold. The information that he provided for the specific job
              I had been looking for during the first 6 months of the pandemic, was priceless. Without Tim,
              I would not have landed the job that I have today. For the first time in my career, I like
              my job. If you have been laid off due to the pandemic, if you've just been at the same
              company for a long time and want to leave, or if you are just a recruiter that knows
              it all, you should talk to Tim.
            </p>
            <p class="header-item-own-name">Sam Masinelli</p>
            <p class="header-item-own-description">Director, Practice Development at LifeStance Health</p>
          </div>
          <div class="right-item-car-side" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
        </div>
        <!--ITEM-->
        <div class="item-carousel-body">
          <div class="left-item-car-side ">
            <p class="header-item-text">Tim was incredible to work with as a job coach and resume writer. Like most
              recruiters,
              I thought I knew how to write a perfect resume for myself. Or at least I thought I did. Tim transformed
              my resume
              from the dumpster fire that it was-to Gold. The information that he provided for the specific job
              I had been looking for during the first 6 months of the pandemic, was priceless. Without Tim,
              I would not have landed the job that I have today. For the first time in my career, I like
              my job. If you have been laid off due to the pandemic, if you've just been at the same
              company for a long time and want to leave, or if you are just a recruiter that knows
              it all, you should talk to Tim.
            </p>
            <p class="header-item-own-name">Sam Masinelli</p>
            <p class="header-item-own-description">Director, Practice Development at LifeStance Health</p>
          </div>
          <div class="right-item-car-side" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
        </div>
      </section>
    </div>
  </div>
</div>
<app-footer></app-footer>

