
  <!-- Sign up candidate -->
   <!-- Modal -->
 <!-- <div class="modal fade el-signup--employer" id="edit_profile" tabindex="-1" aria-labelledby="signup_employer" aria-hidden="true"> -->
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      <div class="modal-body">
        <div class="row row-els--main">
          <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <div class="els-img">
              <span><img src="assets/img/signup/signup_employer_illustration.jpg" alt="" /></span>
            </div>
          </div>
          <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <div class="els-content--main pl-40 pl-md-0 pl-xs-0">
              <h5 class="slate--color mb-30"><b>Welcome,</b> Login to your account</h5>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-floating mb-20">
                    <input type="text" id="emailid" class="form-control" placeholder="Email ID" />
                    <label class="form-label" for="emailid">Email ID</label>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-floating mb-20">
                    <input type="password" id="password" class="form-control"  placeholder="Enter your password" />
                    <label class="form-label" for="password">Password</label>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-floating mt-10 mb-15">
                    <div class="text-xs-start fs-6 mb-10"><small>Don't have account? <a href="/signupCandidate" class="algae--color">Sign Up</a></small></div>
                    <div class="d-grid gap-2">
                      <button type="button" href="/editProfile" class="btn btn-fill-green btn-medium rounded-pill btn-block">Continue</button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-floating mt-10 els-social-icons">
                    <div class="text-xs-start fs-6 mb-10"><small>Or get started with</small></div>
                    <div class="els-icons">
                      <a href="" class="btn btn-mini btn-fill-dark btn-facebook"><i class="fab fa-facebook-f"></i></a>
                      <a href="" class="btn btn-mini btn-fill-dark btn-google shadow-lg"><img src="assets/img/signup/googleicon.svg" style="width: auto;height: 15px;margin: -5px 0 0 0;" alt="" /></a>
                      <a href="" class="btn btn-mini btn-fill-dark btn-twitter"><i class="fab fa-twitter"></i></a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-fill-light rounded-pill btn-medium" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-fill-green rounded-pill btn-medium">Save changes</button>
      </div> -->
    </div>
  </div>
<!-- </div> -->



