<div class="content-container"><!--Page content width wrap-->
  <!--PC MENU VIEW-->
  <div class="main-menu-container">
     <!--LEFT SIDE MENU BLOCK (logo and search)-->
     <!--==============-->
     <div class="left-side-menu-container">
        <div class="left-menu-side-container-child">
           <div class="logo-menu-container">
              <a href="#">
                 <img src="assets/img/layout/logo.svg" alt="logo name" class="logo-main-body">
              </a>
           </div>
        </div>
        <div class="right-menu-side-container-child">
           <div class="search-container" id="pc-menu-search">
              <form action="#">
                 <div class="flex-form-search">
                    <div class="left-side-fl-search">
                       <input type="text" placeholder="Search" class="seacrh-input-main">
                    </div>
                    <div class="right-side-fl-search">
                      <img src="assets/img/layout/search.svg" alt="search icon">
                    </div>
                 </div>
              </form>
           </div>
        </div>
     </div>
     <!--RIGHT SIDE MENU BLOCK (page url and post job button)-->
     <!--==============-->
     <div class="right-side-menu-container">
        <div class="menu-url-item-simple">
           <a href = '/careerCoaching' class="menu-link">Career Coaching</a>
        </div>
        <div class="menu-url-item-simple">
           <a href ='/featuredCompanies' class="menu-link">Featured Companies</a>
        </div>
        <div class="menu-url-item-simple">
           <a href='/blogs' class="menu-link">Blog</a>
        </div>
        <div class="menu-url-item-simple">
           <a href="/signupCandidate" class="menu-link" data-bs-toggle="modal" data-bs-target="#signup_employer">Login / Signup</a>
        </div>
        <div class="menu-url-item">
           <div class="button-bigger-container">
              <a href="/postAJob" class="no-style-link">
                 <div class="menu-big-button">
                    Employers/Post a job
                 </div>
              </a>
           </div>
        </div>
        <div class="menu-url-item-burger no-select" id="toggle-mobile-burger">
           <div class="mobile-burger-body">
              <div class="line-burg"></div>
              <div class="line-burg"></div>
              <div class="line-burg"></div>
           </div>
        </div>
     </div>
  </div>
</div>


