
<div class="page-container">
  <div class="space-top-block"></div>
  <!--Display when menu open - mobile-->
  <!--START PAGE MAIN CONTENT-->
  <!--======================================-->
  <!--====================================================-->
  <!--HOME PAGE BLOCK ONE-->
  <!--============================================-->
  <div class="home-page-block-one" style="background-image: url(assets/img/homepage/earth.svg);">
    <h1 class="header-white hmp-first-head">Find your dream jobs</h1>
    <p class="hmp-first-description">823434 active jobs available</p>
    <!--SEARCH FORM CONTAINER-->
    <div class="hmp-first-search-container">
      <form action="#" class="hmp-first-form">
        <div class="hmp-first-s-c-left-child">
          <input type="text" placeholder="Job title, keywords, company name" class="hmp-first-input">
          <div class="hmp-first-adress-search-mb">in&nbsp;<span class="hmp-first-boder-adress-name">San Francisco</span>
          </div>
        </div>
        <div class="hmp-first-s-c-right-child">
          <div class="hmp-first-adress-container">
            <div class="hmp-first-adress-search">in&nbsp;<span class="hmp-first-boder-adress-name">San Francisco</span>
            </div>
          </div>
          <div class="cont-ser-hmp-one">
            <div class="hmp-search-button">
              <img src="assets/img/homepage/search-it.svg" alt="search icon">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="content-container">
      <div class="hmp-first-advantages-block">
        <!--ITEM-->
        <div class="hmp-first-adv-b-item">
          <div class="hmp-f-adv-first-row">
            <div class="left-side-hmpfpchild">
              <div class="rect-sap"></div>
            </div>
            <div class="right-side-hmpfpchild">SAP</div>
          </div>
          <div class="hmp-f-adv-second-row">Jobs ranging from $0 - 900$k</div>
        </div>
        <!--ITEM-->
        <div class="hmp-first-adv-b-item">
          <div class="hmp-f-adv-first-row">
            <div class="left-side-hmpfpchild">
              <div class="rect-sap"></div>
            </div>
            <div class="right-side-hmpfpchild">SAP</div>
          </div>
          <div class="hmp-f-adv-second-row">Jobs ranging from $0 - 900$k</div>
        </div>
        <!--ITEM-->
        <div class="hmp-first-adv-b-item">
          <div class="hmp-f-adv-first-row">
            <div class="left-side-hmpfpchild">
              <div class="rect-sap"></div>
            </div>
            <div class="right-side-hmpfpchild">SAP</div>
          </div>
          <div class="hmp-f-adv-second-row">Jobs ranging from $0 - 900$k</div>
        </div>
        <!--ITEM-->
        <div class="hmp-first-adv-b-item">
          <div class="hmp-f-adv-first-row">
            <div class="left-side-hmpfpchild">
              <div class="rect-sap"></div>
            </div>
            <div class="right-side-hmpfpchild">SAP</div>
          </div>
          <div class="hmp-f-adv-second-row">Jobs ranging from $0 - 900$k</div>
        </div>
      </div>
      <p class="hmp-first-adv-description">Read more about&nbsp;<a href="#" class="bold-inter-child">Our Featured
          Companies</a></p>
    </div>
  </div>
  <!--HOME PAGE BLOCK TWO-->
  <!--============================================-->
  <div class="home-page-block-two">
    <div class="content-container">
      <!-- <div>
        <ngx-skeleton-loader count = '3'><p>Hello</p></ngx-skeleton-loader>
        <p>Hello</p>
      </div> -->
      <p class="header-blue hmp-two-header"></p>
      <!-- <ngx-skeleton-loader [theme]="{ height: '30px'}"> Invest in Yourself </ngx-skeleton-loader> -->

      <p class="header-blue hmp-two-header">Invest in Yourself</p>
      <p class="hmp-two-description">Achieve your career goals with the help of our coaches.<br>
        Our coaches ensure your professional progress. Select the right service for you and start your journey.
      </p>
      <a href="#" class="hmp-two-know-more-link">
        <div class="hmp-two-know-more-button">Know More</div>
      </a>
      <div class="hmp-two-info-items-container">
        <!--ITEM-->
        <div class="hmp-two-info-item-body">
          <img src="assets/img/homepage/resume.svg" alt="resume" class="hmp-item-two-b-image">
          <div class="item-hmo-two-all-cont">
            <p class="hmp-item-two-b-text">Resume + LinkedIn review</p>
            <p class="hmp-item-two-b-link"><a href="/resumeLinkedinReview">More Details</a>
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10"
                class="sv-angle-hmp-two">
                <g fill="none" fill-rule="evenodd">
                  <g fill-rule="nonzero" class="right-angle">
                    <g>
                      <g>
                        <g>
                          <g>
                            <g>
                              <path
                                d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                                transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </p>
          </div>
        </div>
        <!--ITEM-->
        <div class="hmp-two-info-item-body">
          <img src="assets/img/homepage/resume.svg" alt="resume" class="hmp-item-two-b-image">
          <div class="item-hmo-two-all-cont">
            <p class="hmp-item-two-b-text">ITEM BUG</p>
            <p class="hmp-item-two-b-link"><a href="#">More Details</a>
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10"
                class="sv-angle-hmp-two">
                <g fill="none" fill-rule="evenodd">
                  <g fill-rule="nonzero" class="right-angle">
                    <g>
                      <g>
                        <g>
                          <g>
                            <g>
                              <path
                                d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                                transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </p>
          </div>
        </div>
        <!--ITEM-->
        <div class="hmp-two-info-item-body">
          <img src="assets/img/homepage/search.svg" alt="search" class="hmp-item-two-b-image">
          <div class="item-hmo-two-all-cont">
            <p class="hmp-item-two-b-text">Job Search Strategy</p>
            <p class="hmp-item-two-b-link"><a href="/jobSearchStrategy">More Details</a>
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10"
                class="sv-angle-hmp-two">
                <g fill="none" fill-rule="evenodd">
                  <g fill-rule="nonzero" class="right-angle">
                    <g>
                      <g>
                        <g>
                          <g>
                            <g>
                              <path
                                d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                                transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </p>
          </div>
        </div>
        <!--ITEM-->
        <div class="hmp-two-info-item-body">
          <img src="assets/img/homepage/success.svg" alt="success" class="hmp-item-two-b-image">
          <div class="item-hmo-two-all-cont">
            <p class="hmp-item-two-b-text">Career Ladder Coaching</p>
            <p class="hmp-item-two-b-link"><a href="#">More Details</a>
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10"
                class="sv-angle-hmp-two">
                <g fill="none" fill-rule="evenodd">
                  <g fill-rule="nonzero" class="right-angle">
                    <g>
                      <g>
                        <g>
                          <g>
                            <g>
                              <path
                                d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                                transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </p>
          </div>
        </div>
        <!--ITEM-->
        <div class="hmp-two-info-item-body">
          <img src="assets/img/homepage/artboard.svg" alt="artboard" class="hmp-item-two-b-image">
          <div class="item-hmo-two-all-cont">
            <p class="hmp-item-two-b-text">New Career Exploration</p>
            <p class="hmp-item-two-b-link"><a href="/newCareerExploration">More Details</a>
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10"
                class="sv-angle-hmp-two">
                <g fill="none" fill-rule="evenodd">
                  <g fill-rule="nonzero" class="right-angle">
                    <g>
                      <g>
                        <g>
                          <g>
                            <g>
                              <path
                                d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                                transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </p>
          </div>
        </div>
        <!--ITEM-->
        <div class="hmp-two-info-item-body">
          <img src="assets/img/homepage/help.svg" alt="help" class="hmp-item-two-b-image">
          <div class="item-hmo-two-all-cont">
            <p class="hmp-item-two-b-text">Support System</p>
            <p class="hmp-item-two-b-link"><a href="/supportSystem">More Details</a>
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10"
                class="sv-angle-hmp-two">
                <g fill="none" fill-rule="evenodd">
                  <g fill-rule="nonzero" class="right-angle">
                    <g>
                      <g>
                        <g>
                          <g>
                            <g>
                              <path
                                d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                                transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </p>
          </div>
        </div>
      </div>
      <div class="hmp-two-stil-conf-block">
        <div class="hmp-st-co-image-cont">
          <img src="assets/img/homepage/group.svg" alt="group">
        </div>
        <div class="hmp-st-co-text-cont">
          <p class="hmp-two-st-con-header">Still Confused? Ask us anything</p>
          <p class="hmp-two-st-con-description">Have a 30 min or 1 hr conversation with our coaches and ask them
            anything related to your career or your ongoing job search.</p>
        </div>
        <div class="hmp-two-st-con-ask-button-cont">
          <a href="/askUsAnything" class="no-style-link">
            <div class="button-hmp-two-st-con-container">
              <div class="hmp-st-con-button">
                Ask us Now
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--HOME PAGE BLOCK THREE-->
  <!--============================================-->
  <div class="home-page-block-three">
    <p class="header-blue hmp-two-header">Read Our Latest Blogs</p>
    <p class="hmp-two-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend ipsum
      justo, vitae lacinia mauris hendrerit quis.<br>
      Etiam metus elit, porta at lorem id, malesuada eleifend ipsum.
    </p>
    <div class="content-container">
      <div class="hmp-trhee-blogs-container">
        <!--ITEM-->
        <div class="blog-hmp-th-item">
          <div class="item-blog-image-container" style="background-image: url(assets/img/homepage/example-blog.png);">
          </div>
          <div class="hmp-text-blog-all-container">
            <p class="hmp-th-blog-name">Lorem Ipsum is simply dummy text</p>
            <div class="flex-blog-description-container">
              <div class="left-bl-hmp-th-desc">
                <p>Nov 20, 2020 by&nbsp;<a href="#">John Doe</a></p>
              </div>
              <div class="right-bl-hmp-th-desc">
                <p>10 min read</p>
              </div>
            </div>
            <p class="hmp-th-blog-appres"><img src="assets/img/homepage/heart.svg" alt="heart">12 appreciations</p>
            <p class="hmp-th-blog-main-description-sm">Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.</p>
            <p class="hmp-item-two-b-link pad-10-px-sz"><a href="/blogs">Read More</a>
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10"
                class="sv-angle-hmp-two">
                <g fill="none" fill-rule="evenodd">
                  <g fill-rule="nonzero" class="right-angle">
                    <g>
                      <g>
                        <g>
                          <g>
                            <g>
                              <path
                                d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                                transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </p>
          </div>
        </div>
        <!--ITEM-->
        <div class="blog-hmp-th-item">
          <div class="item-blog-image-container" style="background-image: url(assets/img/homepage/example-blog.png);">
          </div>
          <div class="hmp-text-blog-all-container">
            <p class="hmp-th-blog-name">Lorem Ipsum is simply dummy text</p>
            <div class="flex-blog-description-container">
              <div class="left-bl-hmp-th-desc">
                <p>Nov 20, 2020 by&nbsp;<a href="#">John Doe</a></p>
              </div>
              <div class="right-bl-hmp-th-desc">
                <p>10 min read</p>
              </div>
            </div>
            <p class="hmp-th-blog-appres"><img src="assets/img/homepage/heart.svg" alt="heart">12 appreciations</p>
            <p class="hmp-th-blog-main-description-sm">Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.</p>
            <p class="hmp-item-two-b-link pad-10-px-sz"><a href="#">Read More</a>
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10"
                class="sv-angle-hmp-two">
                <g fill="none" fill-rule="evenodd">
                  <g fill-rule="nonzero" class="right-angle">
                    <g>
                      <g>
                        <g>
                          <g>
                            <g>
                              <path
                                d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                                transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </p>
          </div>
        </div>
        <!--ITEM-->
        <div class="blog-hmp-th-item">
          <div class="item-blog-image-container" style="background-image: url(assets/img/homepage/example-blog.png);">
          </div>
          <div class="hmp-text-blog-all-container">
            <p class="hmp-th-blog-name">Lorem Ipsum is simply dummy text</p>
            <div class="flex-blog-description-container">
              <div class="left-bl-hmp-th-desc">
                <p>Nov 20, 2020 by&nbsp;<a href="#">John Doe</a></p>
              </div>
              <div class="right-bl-hmp-th-desc">
                <p>10 min read</p>
              </div>
            </div>
            <p class="hmp-th-blog-appres"><img src="assets/img/homepage/heart.svg" alt="heart">12 appreciations</p>
            <p class="hmp-th-blog-main-description-sm">Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. wfqw qfw4f31 qwefreq qevreqv</p>
            <p class="hmp-item-two-b-link pad-10-px-sz"><a href="#">Read More</a>
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10"
                class="sv-angle-hmp-two">
                <g fill="none" fill-rule="evenodd">
                  <g fill-rule="nonzero" class="right-angle">
                    <g>
                      <g>
                        <g>
                          <g>
                            <g>
                              <path
                                d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                                transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </p>
          </div>
        </div>
      </div>
      <a href="#" class="no-style-link">
        <div class="hmp-th-blog-button-view">View all blogs</div>
      </a>
    </div>
  </div>
  <!--HOME PAGE BLOCK FOUR-->
  <!--============================================-->
  <div class="home-page-block-four">
    <div class="pc-hmp-fr-ab-lft-block">
      <div class="content-container">
        <div class="hmp-fr-block-container-pc">
          <p class="hmp-fr-header header-blue">Your Dream Is Your Right</p>
          <p class="hmp-fr-description-text-b">We believe everybody, regardless of age, sex, race, gender, sexual
            orientation
            has the right to chase thier dream. We want to help career minded professionals achieve their goals and help
            companies connect with the right candidates.
          </p>
          <div class="button-container-hmp-fr-bt">
            <a href="#" class="no-style-link">
              <div class="hmp-th-blog-button-view left-side-butt">Start looking for Jobs</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="left-hmp-fr-block">
      <div class="hmp-fr-block-container">
        <p class="hmp-fr-header header-blue">Your Dream Is Your Right</p>
        <p class="hmp-fr-description-text-b">We believe everybody, regardless of age, sex, race, gender, sexual
          orientation
          has the right to chase thier dream. We want to help career minded professionals achieve their goals and help
          companies connect with the right candidates.
        </p>
        <div class="button-container-hmp-fr-bt">
          <a href="#" class="no-style-link">
            <div class="hmp-th-blog-button-view left-side-butt">Start looking for Jobs</div>
          </a>
        </div>
      </div>
    </div>
    <div class="right-hmp-fr-block" style="background-image: url(assets/img/homepage/mansgirl.jpg);">
    </div>
  </div>
  <!--HOME PAGE BLOCK FIFTH-->
  <!--============================================-->
  <div class="home-page-block-fifth clicked-arr-left">
    <div class="content-container-carousel">
      <div class="center-slider-hmp-side">
        <!--CAROUSEL BUTTONS CONTAINER-->
        <div class="buttons-container-car-lft-rgt">
          <div class="left-slider-hmp-side no-select">
            <div class="arrow-car-hmp left-car-hmp">
              <div class="arrow-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 11 10">
                  <g fill="none" fill-rule="evenodd">
                    <g fill-rule="nonzero" class="arrow-main-fill">
                      <g>
                        <g>
                          <g>
                            <g>
                              <g>
                                <path
                                  d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                                  transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
          </div>
          <div class="right-slider-hmp-side no-select">
            <div class="arrow-car-hmp right-car-hmp">
              <div class="arrow-container-right">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 11 10">
                  <g fill="none" fill-rule="evenodd">
                    <g fill-rule="nonzero" class="arrow-main-fill-right">
                      <g>
                        <g>
                          <g>
                            <g>
                              <g>
                                <path
                                  d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                                  transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <!--CAROUSEL UTEMS CONTAINER-->
        <section class="single-item slider">
          <!--ITEM-->
          <div class="item-carousel-body">
            <div class="left-item-car-side ">
              <p class="header-item-text">Tim was incredible to work with as a job coach and resume writer. Like most
                recruiters,
                I thought I knew how to write a perfect resume for myself. Or at least I thought I did. Tim transformed
                my resume
                from the dumpster fire that it was-to Gold. The information that he provided for the specific job
                I had been looking for during the first 6 months of the pandemic, was priceless. Without Tim,
                I would not have landed the job that I have today. For the first time in my career, I like
                my job. If you have been laid off due to the pandemic, if you've just been at the same
                company for a long time and want to leave, or if you are just a recruiter that knows
                it all, you should talk to Tim.
              </p>
              <p class="header-item-own-name">Sam Masinelli</p>
              <p class="header-item-own-description">Director, Practice Development at LifeStance Health</p>
            </div>
            <div class="right-item-car-side" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
          </div>
          <!--ITEM-->
          <div class="item-carousel-body">
            <div class="left-item-car-side ">
              <p class="header-item-text">Tim was incredible to work with as a job coach and resume writer. Like most
                recruiters,
                I thought I knew how to write a perfect resume for myself. Or at least I thought I did. Tim transformed
                my resume
                from the dumpster fire that it was-to Gold. The information that he provided for the specific job
                I had been looking for during the first 6 months of the pandemic, was priceless. Without Tim,
                I would not have landed the job that I have today. For the first time in my career, I like
                my job. If you have been laid off due to the pandemic, if you've just been at the same
                company for a long time and want to leave, or if you are just a recruiter that knows
                it all, you should talk to Tim.
              </p>
              <p class="header-item-own-name">Sam Masinelli</p>
              <p class="header-item-own-description">Director, Practice Development at LifeStance Health</p>
            </div>
            <div class="right-item-car-side" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
          </div>
          <!--ITEM-->
          <div class="item-carousel-body">
            <div class="left-item-car-side ">
              <p class="header-item-text">Tim was incredible to work with as a job coach and resume writer. Like most
                recruiters,
                I thought I knew how to write a perfect resume for myself. Or at least I thought I did. Tim transformed
                my resume
                from the dumpster fire that it was-to Gold. The information that he provided for the specific job
                I had been looking for during the first 6 months of the pandemic, was priceless. Without Tim,
                I would not have landed the job that I have today. For the first time in my career, I like
                my job. If you have been laid off due to the pandemic, if you've just been at the same
                company for a long time and want to leave, or if you are just a recruiter that knows
                it all, you should talk to Tim.
              </p>
              <p class="header-item-own-name">Sam Masinelli</p>
              <p class="header-item-own-description">Director, Practice Development at LifeStance Health</p>
            </div>
            <div class="right-item-car-side" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-------------------------->
<!--END - Home Page - BODY-->
<!--Footer-->
<app-footer></app-footer>
