<app-header></app-header>
<div class="space-top-block"></div><!--Display when menu open - mobile-->
         <!--START PAGE MAIN CONTENT-->
         <!--======================================-->
         <!--====================================================-->
         <!--BLOG PAGE BLOCK ONE-->
         <!--============================================-->
         <div class="blog-page-block-one">
            <div class="content-container">
               <p class="header-blue blog-p-header-main">Read Our Latest Blogs</p>
               <p class="description-blog-p-main">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Pellentesque eleifend ipsum justo, vitae lacinia mauris hendrerit quis.
                  Etiam metus elit, porta at lorem id, malesuada eleifend ipsum.
               </p>
               <div class="blog-page-flex-menu">
                  <!--ITEM-->
                  <div class="blog-category-item active-blog-cat">
                     <a href="#" class="no-style-link">Category</a>
                  </div>
                  <!--ITEM-->
                  <div class="blog-category-item">
                     <a href="#" class="no-style-link">Category</a>
                  </div>
                  <!--ITEM-->
                  <div class="blog-category-item">
                     <a href="#" class="no-style-link">Category</a>
                  </div>
                  <!--ITEM-->
                  <div class="blog-category-item">
                     <a href="#" class="no-style-link">Category</a>
                  </div>
                  <!--ITEM-->
                  <div class="blog-category-item">
                     <a href="#" class="no-style-link">Category</a>
                  </div>
                  <!--ITEM-->
                  <div class="blog-category-item">
                     <a href="#" class="no-style-link">Category</a>
                  </div>
               </div>
               <div class="blog-menu-line"></div>
               <!--BLOG BODY-->
               <div class="hmp-trhee-blogs-container blog-view-main">
                  <!--ITEM-->
                  <div class="blog-hmp-th-item marg-bot-blog">
                     <div class="item-blog-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                     <div class="hmp-text-blog-all-container">
                        <p class="hmp-th-blog-name">Lorem Ipsum is simply dummy text</p>
                        <div class="flex-blog-description-container">
                           <div class="left-bl-hmp-th-desc">
                              <p>Nov 20, 2020 by&nbsp;<a href="#">John Doe</a></p>
                           </div>
                           <div class="right-bl-hmp-th-desc">
                              <p>10 min read</p>
                           </div>
                        </div>
                        <p class="hmp-th-blog-appres"><img src="assets/img/homepage/heart.svg" alt="heart">12 appreciations</p>
                        <p class="hmp-th-blog-main-description-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p class="hmp-item-two-b-link pad-10-px-sz"><a href="#">Read More</a>
                           <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
                              <g fill="none" fill-rule="evenodd">
                                  <g fill-rule="nonzero" class="right-angle">
                                      <g>
                                          <g>
                                              <g>
                                                  <g>
                                                      <g>
                                                          <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                      </g>
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                        </p>
                     </div>
                  </div>
                  <!--ITEM-->
                  <div class="blog-hmp-th-item marg-bot-blog">
                     <div class="item-blog-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                     <div class="hmp-text-blog-all-container">
                        <p class="hmp-th-blog-name">Lorem Ipsum is simply dummy text</p>
                        <div class="flex-blog-description-container">
                           <div class="left-bl-hmp-th-desc">
                              <p>Nov 20, 2020 by&nbsp;<a href="#">John Doe</a></p>
                           </div>
                           <div class="right-bl-hmp-th-desc">
                              <p>10 min read</p>
                           </div>
                        </div>
                        <p class="hmp-th-blog-appres"><img src="assets/img/homepage/heart.svg" alt="heart">12 appreciations</p>
                        <p class="hmp-th-blog-main-description-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p class="hmp-item-two-b-link pad-10-px-sz"><a href="#">Read More</a>
                           <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
                              <g fill="none" fill-rule="evenodd">
                                  <g fill-rule="nonzero" class="right-angle">
                                      <g>
                                          <g>
                                              <g>
                                                  <g>
                                                      <g>
                                                          <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                      </g>
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                        </p>
                     </div>
                  </div>
                  <!--ITEM-->
                  <div class="blog-hmp-th-item marg-bot-blog">
                     <div class="item-blog-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                     <div class="hmp-text-blog-all-container">
                        <p class="hmp-th-blog-name">Lorem Ipsum is simply dummy text </p>
                        <div class="flex-blog-description-container">
                           <div class="left-bl-hmp-th-desc">
                              <p>Nov 20, 2020 by&nbsp;<a href="#">John Doe</a></p>
                           </div>
                           <div class="right-bl-hmp-th-desc">
                              <p>10 min read</p>
                           </div>
                        </div>
                        <p class="hmp-th-blog-appres"><img src="assets/img/homepage/heart.svg" alt="heart">12 appreciations</p>
                        <p class="hmp-th-blog-main-description-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. wfqw qfw4f31 qwefreq qevreqv</p>
                        <p class="hmp-item-two-b-link pad-10-px-sz"><a href="#">Read More</a>
                           <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
                              <g fill="none" fill-rule="evenodd">
                                  <g fill-rule="nonzero" class="right-angle">
                                      <g>
                                          <g>
                                              <g>
                                                  <g>
                                                      <g>
                                                          <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                      </g>
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                        </p>
                     </div>
                  </div>
                  <!--ITEM-->
                  <div class="blog-hmp-th-item marg-bot-blog">
                     <div class="item-blog-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                     <div class="hmp-text-blog-all-container">
                        <p class="hmp-th-blog-name">Lorem Ipsum is simply dummy text</p>
                        <div class="flex-blog-description-container">
                           <div class="left-bl-hmp-th-desc">
                              <p>Nov 20, 2020 by&nbsp;<a href="#">John Doe</a></p>
                           </div>
                           <div class="right-bl-hmp-th-desc">
                              <p>10 min read</p>
                           </div>
                        </div>
                        <p class="hmp-th-blog-appres"><img src="assets/img/homepage/heart.svg" alt="heart">12 appreciations</p>
                        <p class="hmp-th-blog-main-description-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p class="hmp-item-two-b-link pad-10-px-sz"><a href="#">Read More</a>
                           <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
                              <g fill="none" fill-rule="evenodd">
                                  <g fill-rule="nonzero" class="right-angle">
                                      <g>
                                          <g>
                                              <g>
                                                  <g>
                                                      <g>
                                                          <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                      </g>
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                        </p>
                     </div>
                  </div>
                  <!--ITEM-->
                  <div class="blog-hmp-th-item marg-bot-blog">
                     <div class="item-blog-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                     <div class="hmp-text-blog-all-container">
                        <p class="hmp-th-blog-name">Lorem Ipsum is simply dummy text</p>
                        <div class="flex-blog-description-container">
                           <div class="left-bl-hmp-th-desc">
                              <p>Nov 20, 2020 by&nbsp;<a href="#">John Doe</a></p>
                           </div>
                           <div class="right-bl-hmp-th-desc">
                              <p>10 min read</p>
                           </div>
                        </div>
                        <p class="hmp-th-blog-appres"><img src="assets/img/homepage/heart.svg" alt="heart">12 appreciations</p>
                        <p class="hmp-th-blog-main-description-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p class="hmp-item-two-b-link pad-10-px-sz"><a href="#">Read More</a>
                           <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
                              <g fill="none" fill-rule="evenodd">
                                  <g fill-rule="nonzero" class="right-angle">
                                      <g>
                                          <g>
                                              <g>
                                                  <g>
                                                      <g>
                                                          <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                      </g>
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                        </p>
                     </div>
                  </div>
                  <!--ITEM-->
                  <div class="blog-hmp-th-item marg-bot-blog">
                     <div class="item-blog-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                     <div class="hmp-text-blog-all-container">
                        <p class="hmp-th-blog-name">Lorem Ipsum is simply dummy text </p>
                        <div class="flex-blog-description-container">
                           <div class="left-bl-hmp-th-desc">
                              <p>Nov 20, 2020 by&nbsp;<a href="#">John Doe</a></p>
                           </div>
                           <div class="right-bl-hmp-th-desc">
                              <p>10 min read</p>
                           </div>
                        </div>
                        <p class="hmp-th-blog-appres"><img src="assets/img/homepage/heart.svg" alt="heart">12 appreciations</p>
                        <p class="hmp-th-blog-main-description-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. wfqw qfw4f31 qwefreq qevreqv</p>
                        <p class="hmp-item-two-b-link pad-10-px-sz"><a href="#">Read More</a>
                           <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
                              <g fill="none" fill-rule="evenodd">
                                  <g fill-rule="nonzero" class="right-angle">
                                      <g>
                                          <g>
                                              <g>
                                                  <g>
                                                      <g>
                                                          <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                      </g>
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                        </p>
                     </div>
                  </div>
                                    <!--ITEM-->
                  <div class="blog-hmp-th-item marg-bot-blog">
                     <div class="item-blog-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                     <div class="hmp-text-blog-all-container">
                        <p class="hmp-th-blog-name">Lorem Ipsum is simply dummy text</p>
                        <div class="flex-blog-description-container">
                           <div class="left-bl-hmp-th-desc">
                              <p>Nov 20, 2020 by&nbsp;<a href="#">John Doe</a></p>
                           </div>
                           <div class="right-bl-hmp-th-desc">
                              <p>10 min read</p>
                           </div>
                        </div>
                        <p class="hmp-th-blog-appres"><img src="assets/img/homepage/heart.svg" alt="heart">12 appreciations</p>
                        <p class="hmp-th-blog-main-description-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p class="hmp-item-two-b-link pad-10-px-sz"><a href="#">Read More</a>
                           <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
                              <g fill="none" fill-rule="evenodd">
                                  <g fill-rule="nonzero" class="right-angle">
                                      <g>
                                          <g>
                                              <g>
                                                  <g>
                                                      <g>
                                                          <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                      </g>
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                        </p>
                     </div>
                  </div>
                  <!--ITEM-->
                  <div class="blog-hmp-th-item marg-bot-blog">
                     <div class="item-blog-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                     <div class="hmp-text-blog-all-container">
                        <p class="hmp-th-blog-name">Lorem Ipsum is simply dummy text</p>
                        <div class="flex-blog-description-container">
                           <div class="left-bl-hmp-th-desc">
                              <p>Nov 20, 2020 by&nbsp;<a href="#">John Doe</a></p>
                           </div>
                           <div class="right-bl-hmp-th-desc">
                              <p>10 min read</p>
                           </div>
                        </div>
                        <p class="hmp-th-blog-appres"><img src="assets/img/homepage/heart.svg" alt="heart">12 appreciations</p>
                        <p class="hmp-th-blog-main-description-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <p class="hmp-item-two-b-link pad-10-px-sz"><a href="#">Read More</a>
                           <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
                              <g fill="none" fill-rule="evenodd">
                                  <g fill-rule="nonzero" class="right-angle">
                                      <g>
                                          <g>
                                              <g>
                                                  <g>
                                                      <g>
                                                          <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                      </g>
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                        </p>
                     </div>
                  </div>
                  <!--ITEM-->
                  <div class="blog-hmp-th-item marg-bot-blog">
                     <div class="item-blog-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                     <div class="hmp-text-blog-all-container">
                        <p class="hmp-th-blog-name">Lorem Ipsum is simply dummy text </p>
                        <div class="flex-blog-description-container">
                           <div class="left-bl-hmp-th-desc">
                              <p>Nov 20, 2020 by&nbsp;<a href="#">John Doe</a></p>
                           </div>
                           <div class="right-bl-hmp-th-desc">
                              <p>10 min read</p>
                           </div>
                        </div>
                        <p class="hmp-th-blog-appres"><img src="assets/img/homepage/heart.svg" alt="heart">12 appreciations</p>
                        <p class="hmp-th-blog-main-description-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. wfqw qfw4f31 qwefreq qevreqv</p>
                        <p class="hmp-item-two-b-link pad-10-px-sz"><a href="#">Read More</a>
                           <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
                              <g fill="none" fill-rule="evenodd">
                                  <g fill-rule="nonzero" class="right-angle">
                                      <g>
                                          <g>
                                              <g>
                                                  <g>
                                                      <g>
                                                          <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                      </g>
                                                  </g>
                                              </g>
                                          </g>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
                <!--BLOG PAGE BLOCK TWO-->
         <!--============================================-->
         <div class="blog-page-block-two">
          <div class="content-container">
              <p class="header-white hmp-two-header">Invest in Yourself</p>
             <p class="blog-two-description">Achieve your career goals with the help of our coaches.<br>
                Our coaches ensure your professional progress. Select the right service for you and start your journey.
             </p>
             <div class="hmp-two-info-items-container">
                <!--ITEM-->
                <div class="hmp-two-info-item-body">
                   <img src="assets/img/homepage/resume.svg" alt="resume" class="hmp-item-two-b-image">
                   <div class="item-hmo-two-all-cont">
                      <p class="hmp-item-two-b-text">Resume + LinkedIn review</p>
                      <p class="hmp-item-two-b-link"><a href="#">More Details</a>
                         <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
                            <g fill="none" fill-rule="evenodd">
                               <g fill-rule="nonzero" class="right-angle">
                                  <g>
                                        <g>
                                           <g>
                                              <g>
                                                    <g>
                                                       <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                    </g>
                                              </g>
                                           </g>
                                        </g>
                                  </g>
                               </g>
                            </g>
                      </svg>
                      </p>
                   </div>
                </div>
                <!--ITEM-->
                <div class="hmp-two-info-item-body">
                   <img src="assets/img/homepage/resume.svg" alt="resume" class="hmp-item-two-b-image">
                   <div class="item-hmo-two-all-cont">
                      <p class="hmp-item-two-b-text">ITEM BUG</p>
                      <p class="hmp-item-two-b-link"><a href="#">More Details</a>
                         <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
                            <g fill="none" fill-rule="evenodd">
                               <g fill-rule="nonzero" class="right-angle">
                                  <g>
                                        <g>
                                           <g>
                                              <g>
                                                    <g>
                                                       <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                    </g>
                                              </g>
                                           </g>
                                        </g>
                                  </g>
                               </g>
                            </g>
                      </svg>
                      </p>
                   </div>
                </div>
                <!--ITEM-->
                <div class="hmp-two-info-item-body">
                   <img src="assets/img/homepage/search.svg" alt="search" class="hmp-item-two-b-image">
                   <div class="item-hmo-two-all-cont">
                      <p class="hmp-item-two-b-text">Job Search Strategy</p>
                      <p class="hmp-item-two-b-link"><a href="#">More Details</a>
                         <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
                            <g fill="none" fill-rule="evenodd">
                               <g fill-rule="nonzero" class="right-angle">
                                  <g>
                                        <g>
                                           <g>
                                              <g>
                                                    <g>
                                                       <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                    </g>
                                              </g>
                                           </g>
                                        </g>
                                  </g>
                               </g>
                            </g>
                      </svg>
                      </p>
                   </div>
                </div>
                <!--ITEM-->
                <div class="hmp-two-info-item-body">
                   <img src="assets/img/homepage/success.svg" alt="success" class="hmp-item-two-b-image">
                   <div class="item-hmo-two-all-cont">
                      <p class="hmp-item-two-b-text">Career Ladder Coaching</p>
                      <p class="hmp-item-two-b-link"><a href="#">More Details</a>
                         <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
                            <g fill="none" fill-rule="evenodd">
                               <g fill-rule="nonzero" class="right-angle">
                                  <g>
                                        <g>
                                           <g>
                                              <g>
                                                    <g>
                                                       <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                    </g>
                                              </g>
                                           </g>
                                        </g>
                                  </g>
                               </g>
                            </g>
                      </svg>
                      </p>
                   </div>
                </div>
                <!--ITEM-->
                <div class="hmp-two-info-item-body">
                   <img src="assets/img/homepage/artboard.svg" alt="artboard" class="hmp-item-two-b-image">
                   <div class="item-hmo-two-all-cont">
                      <p class="hmp-item-two-b-text">New Career Exploration</p>
                      <p class="hmp-item-two-b-link"><a href="#">More Details</a>
                         <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
                            <g fill="none" fill-rule="evenodd">
                               <g fill-rule="nonzero" class="right-angle">
                                  <g>
                                        <g>
                                           <g>
                                              <g>
                                                    <g>
                                                       <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                    </g>
                                              </g>
                                           </g>
                                        </g>
                                  </g>
                               </g>
                            </g>
                      </svg>
                      </p>
                   </div>
                </div>
                <!--ITEM-->
                <div class="hmp-two-info-item-body">
                   <img src="assets/img/homepage/help.svg" alt="help" class="hmp-item-two-b-image">
                   <div class="item-hmo-two-all-cont">
                      <p class="hmp-item-two-b-text">Support System</p>
                      <p class="hmp-item-two-b-link"><a href="#">More Details</a>
                         <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
                            <g fill="none" fill-rule="evenodd">
                               <g fill-rule="nonzero" class="right-angle">
                                  <g>
                                        <g>
                                           <g>
                                              <g>
                                                    <g>
                                                       <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                    </g>
                                              </g>
                                           </g>
                                        </g>
                                  </g>
                               </g>
                            </g>
                      </svg>
                      </p>
                   </div>
                </div>
             </div>
             <div class="hmp-two-stil-conf-block">
                <div class="hmp-st-co-image-cont">
                   <img src="assets/img/homepage/group.svg" alt="group">
                </div>
                <div class="hmp-st-co-text-cont">
                   <p class="hmp-two-st-con-header">Still Confused? Ask us anything</p>
                   <p class="hmp-two-st-con-description">Have a 30 min or 1 hr conversation with our coaches and ask them anything related to your career or your ongoing job search.</p>
                </div>
                <div class="hmp-two-st-con-ask-button-cont">
                   <a href="#" class="no-style-link">
                      <div class="button-hmp-two-st-con-container">
                         <div class="hmp-st-con-button">
                            Ask us Now
                         </div>
                      </div>
                   </a>
                </div>
             </div>
          </div>
       </div>
<app-footer></app-footer>
