<app-header></app-header>
  <!-- Modal -->
  <div class="modal fade el-signup--employer" id="edit_profile" tabindex="-1" aria-labelledby="signup_employer" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        <div class="modal-body">
          <div class="row row-els--main">
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="els-img">
                <span><img src="images/signup_employer_illustration.jpg" alt="" /></span>
              </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="els-content--main pl-40 pl-md-0 pl-xs-0">
                <h5 class="slate--color mb-30">Edit your profile</h5>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-floating mb-20">
                      <input type="text" id="firstname" class="form-control" placeholder="First Name" />
                      <label class="form-label" for="firstname">First Name</label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-floating mb-20">
                      <input type="text" id="secondname" class="form-control" placeholder="Second Name" />
                      <label class="form-label" for="secondname">Second Name</label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-floating mb-20">
                      <input type="text" id="mostrecentjob" class="form-control"  placeholder="Most Recent Job" />
                      <label class="form-label" for="mostrecentjob">Most Recent Job</label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-floating mb-20">
                      <input type="text" id="lastqualification" class="form-control"  placeholder="Last Qualification" />
                      <label class="form-label" for="lastqualification">Last Qualification</label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-floating mb-20">
                      <input type="text" id="workexperience" class="form-control"  placeholder="Work Experience" />
                      <label class="form-label" for="workexperience">Work Experience</label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-floating mb-20">
                      <input type="text" id="emailid" class="form-control" placeholder="Email ID" />
                      <label class="form-label" for="emailid">Email ID</label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-floating mb-20">
                      <input type="text" id="phonenumber" class="form-control"  placeholder="Phone Number" />
                      <label class="form-label" for="phonenumber">Phone Number</label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-floating mb-20 els-resume-upload">
                      <span class="upload-btn">Upload</span>
                      <input type="text" id="upload_resume" class="form-control"  placeholder="Upload your Resume" />
                      <label class="form-label" for="upload_resume">Upload your Resume</label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="d-grid gap-2 mt-10">
                      <button type="button" class="btn btn-fill-green btn-medium rounded-pill btn-block">Continue</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-fill-light rounded-pill btn-medium" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-fill-green rounded-pill btn-medium">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
  <app-footer></app-footer>

