<!--My Account block One-->
<!--======================================-->
<div class="featured-companies-block-two">
  <div class="content-container">
    <!--FIRST BLOCk-->
    <div class="ftp-two-b-flex-block">
      <div class="left-side-acc-b-t">
        <!--ITEM-->
        <div class="left-acc-itemf-ftp">
          <div class="left-acc-itemf-ftp-flex">

            <div class="left-itemf-ftp-flex-child">
              <img style="border-radius: 50%;"  width="50" height="60" src="assets/img/shahid.jpg">
              <p class="profile-title-acc-c">Syed Shahid</p>
              <p class="lft-acc-block-info-text">Tral,192123</p>
              <br>
              <p class="lft-acc-block-info-text">Most Recent Job <span class="profile-title-acc-c">Oracle</span></p>
            </div>
          </div>
        </div>
        <div class="left-acc-itemf-ftp">
          <div class="left-acc-itemf-ftp-flex">

            <div class="left-itemf-ftp-flex-child">
              <p class="job-title-ftp-c">Saved Jobs(11)</p>
            </div>
          </div>
        </div>
        <div class="left-acc-itemf-ftp">
          <div class="left-acc-itemf-ftp-flex">

            <div class="left-itemf-ftp-flex-child">
              <p class="job-title-ftp-c">Browse All Jobs</p>
            </div>
          </div>
        </div>
        <div class="left-acc-itemf-ftp">
          <div class="left-acc-itemf-ftp-flex">

            <div class="left-itemf-ftp-flex-child">
              <p class="job-title-ftp-c">My Services</p>
            </div>
          </div>
        </div>
      </div>
      <div class="right-side-acc-b-t">
        <p class="lft-ftp-block-info-header">Jobs Applied</p>
        <!--ITEM-->
        <div class="lft-ftp-block-info">
          <div class="lft-ftp-conent-container">
            <p class="lft-ftp-block-info-header">Overview</p>
            <p class="lft-ftp-block-info-text">Deloitte LLP provides professional services.
              The Company focuses on internal audit, enterprise, financial advisory, financial
              accounting, risk management, human capital, strategy operations, and technology
              consulting. Deloitte serves automotive, health care providers, insurance, real
              estate, state government, telecom, and technology industries industries.
            </p>
          </div>
        </div>
        <!--ITEM-->
        <div class="lft-ftp-block-info">
          <div class="lft-ftp-conent-container">
            <p class="lft-ftp-block-info-header">Work Culture</p>
            <p class="lft-ftp-block-info-text">Ut ligula elit, venenatis vitae sapien vitae, dapibus gravida velit.
              Donec id tortor elit. Curabitur consequat enim in mi pretium, eu ultrices metus tristique. Suspendisse
              et eros id risus semper lacinia ac nec urna. Ut ligula elit, venenatis vitae sapien vitae, dapibus
              gravida velit. Donec id tortor elit. Curabitur consequat enim in mi pretium, eu ultrices metus
              tristique.
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<!--My Account BLOCK 3-->
<!--============================================-->
<div class="home-page-block-one" style="background-image: url(assets/img/homepage/earth.svg);">
  <h1 class="header-white hmp-first-head">Find your dream jobs</h1>
  <p class="hmp-first-description">823434 active jobs available</p>
  <!--SEARCH FORM CONTAINER-->
  <div class="hmp-first-search-container">
    <form action="#" class="hmp-first-form">
      <div class="hmp-first-s-c-left-child">
        <input type="text" placeholder="Job title, keywords, company name" class="hmp-first-input">
        <div class="hmp-first-adress-search-mb">in&nbsp;<span class="hmp-first-boder-adress-name">San Francisco</span>
        </div>
      </div>
      <div class="hmp-first-s-c-right-child">
        <div class="hmp-first-adress-container">
          <div class="hmp-first-adress-search">in&nbsp;<span class="hmp-first-boder-adress-name">San Francisco</span>
          </div>
        </div>
        <div class="cont-ser-hmp-one">
          <div class="hmp-search-button">
            <img src="assets/img/homepage/search-it.svg" alt="search icon">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!--My Account BLOCK Four-->
<!--============================================-->
<div class="my-account-block-four">
  <div class="content-container">
    <!-- <div>
        <ngx-skeleton-loader count = '3'><p>Hello</p></ngx-skeleton-loader>
        <p>Hello</p>
      </div> -->
    <p class="header-blue hmp-two-header"></p>
    <!-- <ngx-skeleton-loader [theme]="{ height: '30px'}"> Invest in Yourself </ngx-skeleton-loader> -->

    <p class="header-white hmp-first-head"><b>Invest in Yourself</b></p>
    <p class="hmp-first-description">Achieve your career goals with the help of our coaches.<br>
      Our coaches ensure your professional progress. Select the right service for you and start your journey.
    </p>
    <div class="hmp-two-info-items-container">
      <!--ITEM-->
      <div class="hmp-two-info-item-body">
        <img src="assets/img/homepage/resume.svg" alt="resume" class="hmp-item-two-b-image">
        <div class="item-hmo-two-all-cont">
          <p class="hmp-item-two-b-text">Resume + LinkedIn review</p>
          <p class="hmp-item-two-b-link"><a href="/resumeLinkedinReview">More Details</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
              <g fill="none" fill-rule="evenodd">
                <g fill-rule="nonzero" class="right-angle">
                  <g>
                    <g>
                      <g>
                        <g>
                          <g>
                            <path
                              d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                              transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </p>
        </div>
      </div>
      <!--ITEM-->
      <div class="hmp-two-info-item-body">
        <img src="assets/img/homepage/resume.svg" alt="resume" class="hmp-item-two-b-image">
        <div class="item-hmo-two-all-cont">
          <p class="hmp-item-two-b-text">ITEM BUG</p>
          <p class="hmp-item-two-b-link"><a href="#">More Details</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
              <g fill="none" fill-rule="evenodd">
                <g fill-rule="nonzero" class="right-angle">
                  <g>
                    <g>
                      <g>
                        <g>
                          <g>
                            <path
                              d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                              transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </p>
        </div>
      </div>
      <!--ITEM-->
      <div class="hmp-two-info-item-body">
        <img src="assets/img/homepage/search.svg" alt="search" class="hmp-item-two-b-image">
        <div class="item-hmo-two-all-cont">
          <p class="hmp-item-two-b-text">Job Search Strategy</p>
          <p class="hmp-item-two-b-link"><a href="/jobSearchStrategy">More Details</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
              <g fill="none" fill-rule="evenodd">
                <g fill-rule="nonzero" class="right-angle">
                  <g>
                    <g>
                      <g>
                        <g>
                          <g>
                            <path
                              d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                              transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </p>
        </div>
      </div>
      <!--ITEM-->
      <div class="hmp-two-info-item-body">
        <img src="assets/img/homepage/success.svg" alt="success" class="hmp-item-two-b-image">
        <div class="item-hmo-two-all-cont">
          <p class="hmp-item-two-b-text">Career Ladder Coaching</p>
          <p class="hmp-item-two-b-link"><a href="#">More Details</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
              <g fill="none" fill-rule="evenodd">
                <g fill-rule="nonzero" class="right-angle">
                  <g>
                    <g>
                      <g>
                        <g>
                          <g>
                            <path
                              d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                              transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </p>
        </div>
      </div>
      <!--ITEM-->
      <div class="hmp-two-info-item-body">
        <img src="assets/img/homepage/artboard.svg" alt="artboard" class="hmp-item-two-b-image">
        <div class="item-hmo-two-all-cont">
          <p class="hmp-item-two-b-text">New Career Exploration</p>
          <p class="hmp-item-two-b-link"><a href="/newCareerExploration">More Details</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
              <g fill="none" fill-rule="evenodd">
                <g fill-rule="nonzero" class="right-angle">
                  <g>
                    <g>
                      <g>
                        <g>
                          <g>
                            <path
                              d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                              transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </p>
        </div>
      </div>
      <!--ITEM-->
      <div class="hmp-two-info-item-body">
        <img src="assets/img/homepage/help.svg" alt="help" class="hmp-item-two-b-image">
        <div class="item-hmo-two-all-cont">
          <p class="hmp-item-two-b-text">Support System</p>
          <p class="hmp-item-two-b-link"><a href="/supportSystem">More Details</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" class="sv-angle-hmp-two">
              <g fill="none" fill-rule="evenodd">
                <g fill-rule="nonzero" class="right-angle">
                  <g>
                    <g>
                      <g>
                        <g>
                          <g>
                            <path
                              d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z"
                              transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)" />
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </p>
        </div>
      </div>
    </div>
    <div class="hmp-two-stil-conf-block">
      <div class="hmp-st-co-image-cont">
        <img src="assets/img/homepage/group.svg" alt="group">
      </div>
      <div class="hmp-st-co-text-cont">
        <p class="hmp-two-st-con-header">Still Confused? Ask us anything</p>
        <p class="hmp-two-st-con-description">Have a 30 min or 1 hr conversation with our coaches and ask them
          anything related to your career or your ongoing job search.</p>
      </div>
      <div class="hmp-two-st-con-ask-button-cont">
        <a href="/askUsAnything" class="no-style-link">
          <div class="button-hmp-two-st-con-container">
            <div class="hmp-st-con-button">
              Ask us Now
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
