
<div class="space-top-block"></div>
<!--Display when menu open - mobile-->
<!--START PAGE MAIN CONTENT-->
<!--======================================-->
<!--====================================================-->
<!--FEATURED COMPANIES PAGE BLOCK ONE-->
<!--============================================-->
<div class="featured-conmpanies-block-one">
  <div class="content-container">
    <div class="ftp-b-one-flex-one">
      <div class="ftp-b-o-child-left" style="background-image: url(assets/img/homepage/example-blog.png);">
      </div>
      <div class="ftp-b-o-child-right">
        <p class="company-ft-b-o-name">Deloitte Digital</p>
        <p class="company-ft-b-o-description">NY, United States</p>
      </div>
    </div>
    <div class="ftp-b-one-flex-two">
      <!--ITEM-->
      <div class="ftp-b-one-fl-child-item">
        <p class="ftp-sh-t-header">Industry</p>
        <p class="ftp-sh-t-description">Digital</p>
      </div>
      <!--ITEM-->
      <div class="ftp-b-one-fl-child-item">
        <p class="ftp-sh-t-header">Type</p>
        <p class="ftp-sh-t-description">Private</p>
      </div>
      <!--ITEM-->
      <div class="ftp-b-one-fl-child-item">
        <p class="ftp-sh-t-header">Founded</p>
        <p class="ftp-sh-t-description">1985</p>
      </div>
      <!--ITEM-->
      <div class="ftp-b-one-fl-child-item">
        <p class="ftp-sh-t-header">HQ</p>
        <p class="ftp-sh-t-description">London, UK</p>
      </div>
      <!--ITEM-->
      <div class="ftp-b-one-fl-child-item">
        <p class="ftp-sh-t-header">Offices</p>
        <p class="ftp-sh-t-description">08</p>
      </div>
      <!--ITEM-->
      <div class="ftp-b-one-fl-child-item">
        <p class="ftp-sh-t-header">Company Size</p>
        <p class="ftp-sh-t-description">2347</p>
      </div>
    </div>
  </div>
</div>
<!--FEATURED COMPANIES PAGE BLOCK TWO-->
<!--============================================-->
<div class="featured-companies-block-two">
  <div class="content-container">
    <!--FIRST BLOCk-->
    <div class="ftp-two-b-flex-block">
      <div class="left-side-ftp-b-t">
        <!--ITEM-->
        <div class="lft-ftp-block-info">
          <div class="lft-ftp-conent-container">
            <p class="lft-ftp-block-info-header">Overview</p>
            <p class="lft-ftp-block-info-text">Deloitte LLP provides professional services.
              The Company focuses on internal audit, enterprise, financial advisory, financial
              accounting, risk management, human capital, strategy operations, and technology
              consulting. Deloitte serves automotive, health care providers, insurance, real
              estate, state government, telecom, and technology industries industries.
            </p>
          </div>
        </div>
        <!--ITEM-->
        <div class="lft-ftp-block-info ftp-pad-bot">
          <div class="lft-ftp-conent-container">
            <p class="lft-ftp-block-info-header">Office Tour</p>
            <div class="flex-ftp-off-tour-items">
              <!--ITEM-->
              <p class="item-fl-tour-ftp active-off-im">Main Building</p>
              <!--ITEM-->
              <p class="item-fl-tour-ftp">Label 2</p>
              <!--ITEM-->
              <p class="item-fl-tour-ftp">Label 3</p>
              <!--ITEM-->
              <p class="item-fl-tour-ftp">Label 4</p>
            </div>
            <!--IMAGES CONTAINER-->
            <div class="ftp-flex-images-container-bt">
              <!--RIGHT BIG IMAGE-->
              <div class="left-ftp-items-cont-bt" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
              <!--LEFT SMALL IMAGES-->
              <div class="right-ftp-items-cont-bt">
                <div class="first-image-ftp-gal" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                <div class="second-image-ftp-gal" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                <div class="third-image-ftp-gal" style="background-image: url(assets/img/homepage/example-blog.png);">
                  <div class="overlay-container">
                    <div class="overlay-text-ftp">
                      View<br>More
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--ITEM-->
        <div class="lft-ftp-block-info ftp-pad-bot fetured-cp-id">
          <div class="lft-ftp-conent-container">
            <p class="lft-ftp-block-info-header">Employee Quotes </p>
            <!--CAROUSEl-->
            <!--============================================-->
            <div class="center-slider-hmp-side">
              <!--CAROUSEL UTEMS CONTAINER-->
              <section class="single-item slider">
                <!--ITEM-->
                <div class="item-carousel-body">
                  <p class="ftp-car-item-text">Ut ligula elit, venenatis vitae sapien vitae, dapibus gravida
                    velit. Donec id tortor elit. Curabitur consequat enim in mi pretium, eu ultrices metus
                    tristique. Suspendisse et eros id risus semper lacinia ac nec urna.
                  </p>
                  <div class="col-ftp-back-container">
                    <div class="flex-ftp-car-wo-con">
                      <div class="left-ftp-car-wo">
                        <div class="image-container-cr-ftp" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                      </div>
                      <div class="right-ftp-car-wo">
                        <p class="car-co-founder-name">Lorem Ipsum do</p>
                        <p class="car-co-founder-description">Managing Director, XYZ company</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--ITEM-->
                <div class="item-carousel-body">
                  <p class="ftp-car-item-text">Ut ligula elit, venenatis vitae sapien vitae, dapibus gravida
                    velit. Donec id tortor elit. Curabitur consequat enim in mi pretium, eu ultrices metus
                    tristique. Suspendisse et eros id risus semper lacinia ac nec urna.
                  </p>
                  <div class="col-ftp-back-container">
                    <div class="flex-ftp-car-wo-con">
                      <div class="left-ftp-car-wo">
                        <div class="image-container-cr-ftp" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                      </div>
                      <div class="right-ftp-car-wo">
                        <p class="car-co-founder-name">Lorem Ipsum do</p>
                        <p class="car-co-founder-description">Managing Director, XYZ company</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--ITEM-->
                <div class="item-carousel-body">
                  <p class="ftp-car-item-text">Ut ligula elit, venenatis vitae sapien vitae, dapibus gravida
                    velit. Donec id tortor elit. Curabitur consequat enim in mi pretium, eu ultrices metus
                    tristique. Suspendisse et eros id risus semper lacinia ac nec urna.
                  </p>
                  <div class="col-ftp-back-container">
                    <div class="flex-ftp-car-wo-con">
                      <div class="left-ftp-car-wo">
                        <div class="image-container-cr-ftp" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                      </div>
                      <div class="right-ftp-car-wo">
                        <p class="car-co-founder-name">Lorem Ipsum do</p>
                        <p class="car-co-founder-description">Managing Director, XYZ company</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <!--ITEM-->
        <div class="lft-ftp-block-info">
          <div class="lft-ftp-conent-container">
            <p class="lft-ftp-block-info-header">Work Culture</p>
            <p class="lft-ftp-block-info-text">Ut ligula elit, venenatis vitae sapien vitae, dapibus gravida velit.
              Donec id tortor elit. Curabitur consequat enim in mi pretium, eu ultrices metus tristique. Suspendisse
              et eros id risus semper lacinia ac nec urna. Ut ligula elit, venenatis vitae sapien vitae, dapibus
              gravida velit. Donec id tortor elit. Curabitur consequat enim in mi pretium, eu ultrices metus
              tristique.
            </p>
          </div>
        </div>
      </div>
      <div class="right-side-ftp-b-t">
        <p class="rght-header-ftp-bl-t">Jobs at the Company</p>
        <form action="#">
          <input type="text" placeholder="Search job title, or keyword" class="rht-search-b-t-ftp">
        </form>
        <!--ITEM-->
        <div class="rght-jobs-itemf-ftp">
          <div class="rght-jobs-itemf-ftp-flex">
            <div class="left-itemf-ftp-flex-child">
              <div class="lft-j-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
            </div>
            <div class="left-itemf-ftp-flex-child">
              <p class="job-title-ftp-c">Job Title</p>
              <p class="job-price-ftp-c">$0 - $000K</p>
            </div>
          </div>
        </div>
        <!--ITEM-->
        <div class="rght-jobs-itemf-ftp">
          <div class="rght-jobs-itemf-ftp-flex">
            <div class="left-itemf-ftp-flex-child">
              <div class="lft-j-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
            </div>
            <div class="left-itemf-ftp-flex-child">
              <p class="job-title-ftp-c">Job Title</p>
              <p class="job-price-ftp-c">$0 - $000K</p>
            </div>
          </div>
        </div>
        <!--ITEM-->
        <div class="rght-jobs-itemf-ftp">
          <div class="rght-jobs-itemf-ftp-flex">
            <div class="left-itemf-ftp-flex-child">
              <div class="lft-j-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
            </div>
            <div class="left-itemf-ftp-flex-child">
              <p class="job-title-ftp-c">Job Title</p>
              <p class="job-price-ftp-c">$0 - $000K</p>
            </div>
          </div>
        </div>
        <!--ITEM-->
        <div class="rght-jobs-itemf-ftp">
          <div class="rght-jobs-itemf-ftp-flex">
            <div class="left-itemf-ftp-flex-child">
              <div class="lft-j-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
            </div>
            <div class="left-itemf-ftp-flex-child">
              <p class="job-title-ftp-c">Job Title</p>
              <p class="job-price-ftp-c">$0 - $000K</p>
            </div>
          </div>
        </div>
        <!--ITEM-->
        <div class="rght-jobs-itemf-ftp">
          <div class="rght-jobs-itemf-ftp-flex">
            <div class="left-itemf-ftp-flex-child">
              <div class="lft-j-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
            </div>
            <div class="left-itemf-ftp-flex-child">
              <p class="job-title-ftp-c">Job Title</p>
              <p class="job-price-ftp-c">$0 - $000K</p>
            </div>
          </div>
        </div>
        <!--ITEM-->
        <div class="rght-jobs-itemf-ftp">
          <div class="rght-jobs-itemf-ftp-flex">
            <div class="left-itemf-ftp-flex-child">
              <div class="lft-j-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
            </div>
            <div class="left-itemf-ftp-flex-child">
              <p class="job-title-ftp-c">Job Title</p>
              <p class="job-price-ftp-c">$0 - $000K</p>
            </div>
          </div>
        </div>
        <!--ITEM-->
        <div class="rght-jobs-itemf-ftp">
          <div class="rght-jobs-itemf-ftp-flex">
            <div class="left-itemf-ftp-flex-child">
              <div class="lft-j-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
            </div>
            <div class="left-itemf-ftp-flex-child">
              <p class="job-title-ftp-c">Job Title</p>
              <p class="job-price-ftp-c">$0 - $000K</p>
            </div>
          </div>
        </div>
        <!--ITEM-->
        <div class="rght-jobs-itemf-ftp">
          <div class="rght-jobs-itemf-ftp-flex">
            <div class="left-itemf-ftp-flex-child">
              <div class="lft-j-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
            </div>
            <div class="left-itemf-ftp-flex-child">
              <p class="job-title-ftp-c">Job Title</p>
              <p class="job-price-ftp-c">$0 - $000K</p>
            </div>
          </div>
        </div>
        <!--ITEM-->
        <div class="rght-jobs-itemf-ftp">
          <div class="rght-jobs-itemf-ftp-flex">
            <div class="left-itemf-ftp-flex-child">
              <div class="lft-j-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
            </div>
            <div class="left-itemf-ftp-flex-child">
              <p class="job-title-ftp-c">Job Title</p>
              <p class="job-price-ftp-c">$0 - $000K</p>
            </div>
          </div>
        </div>
        <!--ITEM-->
        <div class="rght-jobs-itemf-ftp">
          <div class="rght-jobs-itemf-ftp-flex">
            <div class="left-itemf-ftp-flex-child">
              <div class="lft-j-image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
            </div>
            <div class="left-itemf-ftp-flex-child">
              <p class="job-title-ftp-c">Job Title</p>
              <p class="job-price-ftp-c">$0 - $000K</p>
            </div>
          </div>
        </div>
        <a href="#" class="border-green">
          <p class="vide-mpre-j-ftp">View All Jobs</p>
        </a>
      </div>
    </div>
    <!--SECOND BLOCK-->
    <div class="ftp-two-b-flex-block-two">
      <p class="lft-ftp-block-info-header-bt">Office Space/Events | Gallery</p>
      <div class="second-frtp-block">
        <!--ITEM-->
        <div class="left-second-frtp-block">
          <div class="ftp-b-2-gal-images">
            <div class="post-gal-image-container" style="background-image: url(assets/img/homepage/example-blog.png);">
              <div class="overlay-description-bt-ft">
                <p>Ut ligula elit, venenatis vitae sapien vitae, dapibus gravida velit.
                  Donec id tortor elit m in mi pretiu.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="right-second-frtp-block">
          <div class="overlay-bt-item-container">
            <p>Ut ligula elit, venenatis vitae sapien vitae, dapibus gravida velit.
              Donec id tortor elit. Curabitur consequat enim in mi pretium, eu ultrices
              metus tristique. Suspendisse et eros id risus semper lacinia ac nec urna.
              Ut ligula elit, venenatis vitae sapien vitae, dapibus gravida velit.
              Donec id tortor elit. Curabitur consequat enim in mi pretium, eu
              ultrices metus tristique.
            </p>
          </div>
        </div>
        <!--ITEM REVERSE WITH VIDEO-->
        <div class="right-second-frtp-block">
          <div class="overlay-bt-item-container">
            <p>Ut ligula elit, venenatis vitae sapien vitae, dapibus gravida velit.
              Donec id tortor elit. Curabitur consequat enim in mi pretium, eu ultrices
              metus tristique. Suspendisse et eros id risus semper lacinia ac nec urna.
              Ut ligula elit, venenatis vitae sapien vitae, dapibus gravida velit.
              Donec id tortor elit. Curabitur consequat enim in mi pretium, eu
              ultrices metus tristique.
            </p>
          </div>
        </div>
        <div class="left-second-frtp-block">
          <div class="ftp-b-2-gal-images">
            <div class="post-gal-video-container" id="video-container">
              <video id="video">
                <source src="assets/video/example.mp4" type="video/mp4">
              </video>
              <div class="play-button" id="play_button"></div>
              <div class="overlay-description-bt-ft">
                <p>Ut ligula elit, venenatis vitae sapien vitae, dapibus gravida velit.
                  Donec id tortor elit m in mi pretiu.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="left-second-frtp-block">
          <div class="ftp-b-2-gal-images">
            <div class="post-gal-image-container" style="background-image: url(assets/img/homepage/example-blog.png);">
              <div class="overlay-description-bt-ft">
                <p>Ut ligula elit, venenatis vitae sapien vitae, dapibus gravida velit.
                  Donec id tortor elit m in mi pretiu.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="right-second-frtp-block">
          <div class="overlay-bt-item-container">
            <p>Ut ligula elit, venenatis vitae sapien vitae, dapibus gravida velit.
              Donec id tortor elit. Curabitur consequat enim in mi pretium, eu ultrices
              metus tristique. Suspendisse et eros id risus semper lacinia ac nec urna.
              Ut ligula elit, venenatis vitae sapien vitae, dapibus gravida velit.
              Donec id tortor elit. Curabitur consequat enim in mi pretium, eu
              ultrices metus tristique.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FEATURED COMPANIES BLOCK THREE-->
<!--============================================-->
<div class="featured-companies-block-three">
  <div class="content-container">
    <p class="ftp-three-header">From the Company</p>
    <div class="frtp-thre-from-flex">
      <!--ITEM-->
      <div class="ftp-from-child-body">
        <div class="image-from-ftp-th-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
        <div class="text-info-container-ftp-three">
          <p class="header-sm-ftp-three">Lorem Ipsum is simply dummy text</p>
          <p class="text-ftp-three">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend ipsum
            justo,
            vitae lacinia mauris hendrerit quis. venenatis vitae
            sapien vitae, dapibus.
          </p>
        </div>
      </div>
      <!--ITEM-->
      <div class="ftp-from-child-body">
        <div class="image-from-ftp-th-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
        <div class="text-info-container-ftp-three">
          <p class="header-sm-ftp-three">Lorem Ipsum is simply dummy text</p>
          <p class="text-ftp-three">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend ipsum
            justo,
            vitae lacinia mauris hendrerit quis. venenatis vitae
            sapien vitae, dapibus.
          </p>
        </div>
      </div>
      <!--ITEM-->
      <div class="ftp-from-child-body">
        <div class="image-from-ftp-th-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
        <div class="text-info-container-ftp-three">
          <p class="header-sm-ftp-three">Lorem Ipsum is simply dummy text</p>
          <p class="text-ftp-three">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend ipsum
            justo,
            vitae lacinia mauris hendrerit quis. venenatis vitae
            sapien vitae, dapibus.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FEATURED COMPANIES BLOCK FIVE-->
<!--============================================-->
<div class="featured-companies-block-five">
  <div class="content-container">
    <p class="lft-ftp-block-info-header">Key People</p>
    <div class="flex-peaple-cont-ftp-fv">
      <!--ITEM-->
      <div class="child-item-ftp-p-container">
        <div class="people-image-ftp-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
        <p class="full-name-ftp-p">Full Name</p>
        <p class="designation-name-ftp-p">Designation</p>
      </div>
      <!--ITEM-->
      <div class="child-item-ftp-p-container">
        <div class="people-image-ftp-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
        <p class="full-name-ftp-p">Full Name</p>
        <p class="designation-name-ftp-p">Designation</p>
      </div>
      <!--ITEM-->
      <div class="child-item-ftp-p-container">
        <div class="people-image-ftp-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
        <p class="full-name-ftp-p">Full Name</p>
        <p class="designation-name-ftp-p">Designation</p>
      </div>
      <!--ITEM-->
      <div class="child-item-ftp-p-container">
        <div class="people-image-ftp-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
        <p class="full-name-ftp-p">Full Name</p>
        <p class="designation-name-ftp-p">Designation</p>
      </div>
      <!--ITEM-->
      <div class="child-item-ftp-p-container">
        <div class="people-image-ftp-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
        <p class="full-name-ftp-p">Full Name</p>
        <p class="designation-name-ftp-p">Designation</p>
      </div>
      <!--ITEM-->
      <div class="child-item-ftp-p-container">
        <div class="people-image-ftp-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
        <p class="full-name-ftp-p">Full Name</p>
        <p class="designation-name-ftp-p">Designation</p>
      </div>
    </div>
  </div>
</div>
<!--FEATURED COMPANIES BLOCK SIX-->
<!--============================================-->
<div class="featured-companies-block-six">
  <div class="content-container">
    <div class="flex-social-ftp-container">
      <div class="left-socail-ftp">
        <p class="more-info-soc-ftp">More Information</p>
        <p class="more-mail-soc-ftp"><a href="#"
            class="no-style-link">www.website.com</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a
            href="callto:+1 9325 35 953" class="no-style-link">+1 9325 35 953</a></p>
      </div>
      <div class="center-socail-ftp">
        <p class="more-info-soc-ftp-social">Social Links</p>
        <div class="social-flex-items-ftp">
          <div class="social-item-ftp-body">
            <a href="#">
              <img src="assets/img/homepage/example-blog.png" alt="Facebook">
            </a>
          </div>
          <div class="social-item-ftp-body">
            <a href="#">
              <img src="assets/img/homepage/example-blog.png" alt="Facebook">
            </a>
          </div>
          <div class="social-item-ftp-body">
            <a href="#">
              <img src="assets/img/homepage/example-blog.png" alt="Facebook">
            </a>
          </div>
        </div>
      </div>
      <div class="right-socail-ftp">
        <a href="#" class="no-style-link">
          <div class="social-button-container-ftp">
            View Jobs
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
