<app-header></app-header>
<div class="space-top-block"></div><!--Display when menu open - mobile-->
         <!--START PAGE MAIN CONTENT-->
         <!--======================================-->
         <!--====================================================-->
         <!--CAREER FIRST INFO BLOCK-->
         <div class="career-coach-block-one">
            <div class="content-container">
               <div class="flex-car-co-container">
                  <div class="left-side-block-one-child-carr">
                     <h1 class=" header-white car-co-header-main">Invest in Yourself </h1>
                     <p class="car-co-description-block-one">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend ipsum justo, vitae
                        lacinia mauris hendrerit quis. Etiam metus elit, porta at lorem id.
                     </p>
                  </div>
                  <div class="right-side-block-one-child-carr">
                     <p class="right-par-car-co">What people are saying</p>
                     <div class="center-slider-hmp-side">
                        <!--CAROUSEL UTEMS CONTAINER-->
                        <section class="single-item slider">
                           <!--ITEM-->
                           <div class="item-carousel-body-car-block">
                              <div class="left-side-car-co-carous">
                                 <div class="image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                              </div>
                              <div class="right-side-car-co-carous">
                                 <p class="car-co-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                 </p>
                                 <p class="car-co-name-right">Lorem Ipsum do</p>
                                 <p class="car-co-right-bot">Managing Director, XYZ company</p>
                              </div>
                           </div>
                           <!--ITEM-->
                           <div class="item-carousel-body-car-block">
                              <div class="left-side-car-co-carous">
                                 <div class="image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                              </div>
                              <div class="right-side-car-co-carous">
                                 <p class="car-co-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                 </p>
                                 <p class="car-co-name-right">Lorem Ipsum do</p>
                                 <p class="car-co-right-bot">Managing Director, XYZ company</p>
                              </div>
                           </div>
                           <!--ITEM-->
                           <div class="item-carousel-body-car-block">
                              <div class="left-side-car-co-carous">
                                 <div class="image-container" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                              </div>
                              <div class="right-side-car-co-carous">
                                 <p class="car-co-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                 </p>
                                 <p class="car-co-name-right">Lorem Ipsum do</p>
                                 <p class="car-co-right-bot">Managing Director, XYZ company</p>
                              </div>
                           </div>
                        </section>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--CAREER COACHING SERVICES-->
         <!--======================================-->
         <div class="career-coach-block-two">
            <div class="content-container">
               <p class="header-blue car-co-services-header">Select your service</p>
               <!--ITEM-->
               <div class="flex-car-co-block-tw-container">
                  <div class="left-car-co-b-t">
                     <img src="assets/img/homepage/resume.svg" alt="resume">
                  </div>
                  <div class="center-car-co-b-t">
                     <p class="header-car-co-b-t">Resume + LinkedIn review</p>
                     <p class="description-car-co-b-t">Build the perfect LinkedIn profile and resume to help you get hired faster by the right employer</p>
                  </div>
                  <div class="right-car-co-b-t">
                     <a href="#" class="no-style-link">
                        <div class="car-co-bt-button-cont">Choose plan</div>
                     </a>
                  </div>
               </div>
               <!--ITEM-->
               <div class="flex-car-co-block-tw-container">
                  <div class="left-car-co-b-t">
                     <img src="assets/img/homepage/notepad.svg" alt="notepad">
                  </div>
                  <div class="center-car-co-b-t">
                     <p class="header-car-co-b-t">Interview Training</p>
                     <p class="description-car-co-b-t">Successful interviews land jobs. Our coaches prep you for this often daunting task by refining your pitch and preparing you for the hardest interview questions.</p>
                  </div>
                  <div class="right-car-co-b-t">
                     <a href="#" class="no-style-link">
                        <div class="car-co-bt-button-cont">Choose plan</div>
                     </a>
                  </div>
               </div>
               <!--ITEM-->
               <div class="flex-car-co-block-tw-container">
                  <div class="left-car-co-b-t">
                     <img src="assets/img/homepage/search.svg" alt="search">
                  </div>
                  <div class="center-car-co-b-t">
                     <p class="header-car-co-b-t">Job Search Strategy </p>
                     <p class="description-car-co-b-t">Outline the right job hunting plan and networking strategies with the help of our career coaches and land that dream job.</p>
                  </div>
                  <div class="right-car-co-b-t">
                     <a href="#" class="no-style-link">
                        <div class="car-co-bt-button-cont">Choose plan</div>
                     </a>
                  </div>
               </div>
               <!--ITEM-->
               <div class="flex-car-co-block-tw-container">
                  <div class="left-car-co-b-t">
                     <img src="assets/img/homepage/success.svg" alt="success">
                  </div>
                  <div class="center-car-co-b-t">
                     <p class="header-car-co-b-t">Career Ladder Coaching </p>
                     <p class="description-car-co-b-t">Strategies on how to land that next promotion. Our coaches help you make progress in your career through advice about leadership initiatives, better work-place relationships.</p>
                  </div>
                  <div class="right-car-co-b-t">
                     <a href="#" class="no-style-link">
                        <div class="car-co-bt-button-cont">Choose plan</div>
                     </a>
                  </div>
               </div>
               <!--ITEM-->
               <div class="flex-car-co-block-tw-container">
                  <div class="left-car-co-b-t">
                     <img src="assets/img/homepage/artboard.svg" alt="artboard">
                  </div>
                  <div class="center-car-co-b-t">
                     <p class="header-car-co-b-t">New Career Exploration</p>
                     <p class="description-car-co-b-t">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend ipsum justo, vitae lacinia mauris hendrerit quis. Etiam metus elit, porta at lorem id.</p>
                  </div>
                  <div class="right-car-co-b-t">
                     <a href="#" class="no-style-link">
                        <div class="car-co-bt-button-cont">Choose plan</div>
                     </a>
                  </div>
               </div>
               <!--ITEM-->
               <div class="flex-car-co-block-tw-container">
                  <div class="left-car-co-b-t">
                     <img src="assets/img/homepage/help.svg" alt="help">
                  </div>
                  <div class="center-car-co-b-t">
                     <p class="header-car-co-b-t">Support System</p>
                     <p class="description-car-co-b-t">Management is a skill, and just like every other skill it needs to be taught and practiced. We provide the tools for you to turn you into an effective leader. </p>
                  </div>
                  <div class="right-car-co-b-t">
                     <a href="#" class="no-style-link">
                        <div class="car-co-bt-button-cont">Choose plan</div>
                     </a>
                  </div>
               </div>
               <!--ITEM-->
               <div class="flex-car-co-block-tw-container">
                  <div class="left-car-co-b-t">
                     <img src="assets/img/homepage/group2.svg" alt="group" style="width: 100%;">
                  </div>
                  <div class="center-car-co-b-t" href="/AskUsAnything">
                     <p class="header-car-co-b-t">Still Confused? Ask us anything</p>
                     <p class="description-car-co-b-t">Have a 30 min or 1 hr conversation with our coaches and ask them anything related to your career or your ongoing job search.</p>
                  </div>
                  <div class="right-car-co-b-t">
                     <a href="/AskUsAnything" class="no-style-link">
                        <div class="car-co-bt-button-cont">Choose plan</div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <!--CAREER COACHING HOW IT WORKS -->
         <!--======================================-->
         <div class="career-coaching-block-three">
            <div class="content-container">
               <p class="header-blue car-co-how-header">How it Works?</p>
               <p class="car-co-how-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend ipsum justo, vitae lacinia mauris hendrerit quis.
                  Etiam metus elit, porta at lorem id, malesuada eleifend ipsum.
               </p>
               <div class="flex-items-car-co-how">
                  <!--ITEM-->
                  <div class="car-co-how-item">
                     <img src="assets/img/careercoach/icon1.svg" alt="Select a Service">
                     <p class="car-co-item-how-name">Select a Service</p>
                     <p class="car-co-how-item-description">Choose the service that best fits your objectives and helps you tackle specific obstacles.</p>
                  </div>
                  <!--ITEM ARROW-->
                  <div class="car-co-how-item-arrow"></div>
                  <!--ITEM-->
                  <div class="car-co-how-item">
                     <img src="assets/img/careercoach/icon2.svg" alt="Select your Availability">
                     <p class="car-co-item-how-name">Select your Availability</p>
                     <p class="car-co-how-item-description">Let us know what times work for in a given week on our interactive calendar. Give us some career-related info about yourself so our coach is better prepared.</p>
                  </div>
                  <!--ITEM ARROW-->
                  <div class="car-co-how-item-arrow"></div>
                  <!--ITEM-->
                  <div class="car-co-how-item">
                     <img src="assets/img/careercoach/icon3.svg" alt="Connect with your Coach">
                     <p class="car-co-item-how-name">Connect with your Coach</p>
                     <p class="car-co-how-item-description">You will be assigned a coach based on your needs and they will connect with you via email within one business day to confirm a time for your first appointment.</p>
                  </div>
                  <!--ITEM ARROW-->
                  <div class="car-co-how-item-arrow"></div>
                  <!--ITEM-->
                  <div class="car-co-how-item">
                     <img src="assets/img/careercoach/icon4.svg" alt="Get Started">
                     <p class="car-co-item-how-name">Get Started</p>
                     <p class="car-co-how-item-description">Meet with your coach over a video call or phone call. Outline an action plan and get ready to kickstart your career! </p>
                  </div>
               </div>
            </div>
         </div>
          <!--HOME PAGE BLOCK FIFTH-->
         <!--============================================-->
         <div class="home-page-block-fifth clicked-arr-left">
            <div class="content-container-carousel">
               <div class="center-slider-hmp-side">
                  <!--CAROUSEL BUTTONS CONTAINER-->
                  <div class="buttons-container-car-lft-rgt">
                     <div class="left-slider-hmp-side no-select">
                           <div class="arrow-car-hmp left-car-hmp">
                              <div class="arrow-container">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 11 10">
                                    <g fill="none" fill-rule="evenodd">
                                        <g fill-rule="nonzero" class="arrow-main-fill">
                                            <g>
                                                <g>
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                              </div>
                           </div>
                     </div>
                     <div class="right-slider-hmp-side no-select">
                           <div class="arrow-car-hmp right-car-hmp">
                              <div class="arrow-container-right">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 11 10">
                                    <g fill="none" fill-rule="evenodd">
                                        <g fill-rule="nonzero" class="arrow-main-fill-right">
                                            <g>
                                                <g>
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <path d="M99.787 4.216l4.032 4.326c.241.258.241.658 0 .916l-4.032 4.326c-.255.273-.685.29-.96.036-.276-.253-.292-.68-.037-.953l2.976-3.193H93.68c-.376 0-.68-.301-.68-.674 0-.373.304-.675.68-.675h8.085L98.79 5.133c-.255-.273-.239-.7.037-.953.275-.254.705-.237.96.036z" transform="translate(-278 -1156) translate(0 516) translate(165 50) translate(0 424) translate(20 110) translate(0 52)"/>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                              </div>
                           </div>
                     </div>
                  </div>
                  <!--CAROUSEL UTEMS CONTAINER-->
                  <section class="single-item slider">
                    <!--ITEM-->
                    <div class="item-carousel-body">
                       <div class="left-item-car-side " >
                          <p class="header-item-text">Tim was incredible to work with as a job coach and resume writer. Like most recruiters,
                             I thought I knew how to write a perfect resume for myself. Or at least I thought I did. Tim transformed my resume
                             from the dumpster fire that it was-to Gold. The information that he provided for the specific job
                             I had been looking for during the first 6 months of the pandemic, was priceless. Without Tim,
                             I would not have landed the job that I have today. For the first time in my career, I like
                             my job. If you have been laid off due to the pandemic, if you've just been at the same
                             company for a long time and want to leave, or if you are just a recruiter that knows
                             it all, you should talk to Tim.
                          </p>
                          <p class="header-item-own-name">Sam Masinelli</p>
                          <p class="header-item-own-description">Director, Practice Development at LifeStance Health</p>
                       </div>
                       <div class="right-item-car-side" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                    </div>
                    <!--ITEM-->
                    <div class="item-carousel-body">
                       <div class="left-item-car-side " >
                          <p class="header-item-text">Tim was incredible to work with as a job coach and resume writer. Like most recruiters,
                             I thought I knew how to write a perfect resume for myself. Or at least I thought I did. Tim transformed my resume
                             from the dumpster fire that it was-to Gold. The information that he provided for the specific job
                             I had been looking for during the first 6 months of the pandemic, was priceless. Without Tim,
                             I would not have landed the job that I have today. For the first time in my career, I like
                             my job. If you have been laid off due to the pandemic, if you've just been at the same
                             company for a long time and want to leave, or if you are just a recruiter that knows
                             it all, you should talk to Tim.
                          </p>
                          <p class="header-item-own-name">Sam Masinelli</p>
                          <p class="header-item-own-description">Director, Practice Development at LifeStance Health</p>
                       </div>
                       <div class="right-item-car-side" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                    </div>
                    <!--ITEM-->
                    <div class="item-carousel-body">
                       <div class="left-item-car-side " >
                          <p class="header-item-text">Tim was incredible to work with as a job coach and resume writer. Like most recruiters,
                             I thought I knew how to write a perfect resume for myself. Or at least I thought I did. Tim transformed my resume
                             from the dumpster fire that it was-to Gold. The information that he provided for the specific job
                             I had been looking for during the first 6 months of the pandemic, was priceless. Without Tim,
                             I would not have landed the job that I have today. For the first time in my career, I like
                             my job. If you have been laid off due to the pandemic, if you've just been at the same
                             company for a long time and want to leave, or if you are just a recruiter that knows
                             it all, you should talk to Tim.
                          </p>
                          <p class="header-item-own-name">Sam Masinelli</p>
                          <p class="header-item-own-description">Director, Practice Development at LifeStance Health</p>
                       </div>
                       <div class="right-item-car-side" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
                    </div>
                 </section>
               </div>
            </div>
         </div>
<app-footer></app-footer>
