<app-header></app-header>

  <!-- Modal -->
  <!-- <div class="modal fade el-signup--employer" id="signup_employer" tabindex="-1" aria-labelledby="signup_employer" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"> -->
      <div class="modal-content">
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        <div class="modal-body">
          <div class="row row-els--main">
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="els-img">
                <span><img src="assets/img/signup/signup_employer_illustration.jpg" alt="" /></span>
              </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="els-content--main pl-40 pl-md-0 pl-xs-0">
                <h5 class="slate--color mb-20"><b>Welcome,</b> Create your profile</h5>

                <ul class="nav nav-tabs" id="els-tabs--navs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="candidate-tab" data-bs-toggle="tab" data-bs-target="#candidate-content" type="button" role="tab" aria-controls="candidate-content" aria-selected="true">Candidate</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="employer-tab" data-bs-toggle="tab" data-bs-target="#employer-content" type="button" role="tab" aria-controls="employer-tab" aria-selected="false" style="pointer-events: none;">Employer</button>
                  </li>
                </ul>
                <div class="tab-content" id="els-tabs--content">
                  <div class="tab-pane fade show active" id="candidate-content" role="tabpanel" aria-labelledby="candidate-tab">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-floating mb-20">
                          <input type="text" id="cdfirstname" class="form-control" placeholder="First Name"/>
                          <label for="cdfirstname">First Name</label>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-floating mb-20">
                          <input type="text" id="cdsecondname" class="form-control" placeholder="Second Name" />
                          <label class="form-label" for="cdsecondname">Second Name</label>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-floating mb-20">
                          <input type="text" id="emailid" class="form-control" placeholder="Email ID" />
                          <label class="form-label" for="emailid">Email ID</label>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-floating mb-20">
                          <input type="text" id="dob" class="form-control" placeholder="Date of Birth" />
                          <label class="form-label" for="dob">Date of Birth</label>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-floating mb-15">
                          <input type="text" id="phonenumber" class="form-control" placeholder="Phone Number" />
                          <label class="form-label" for="phonenumber">Phone Number</label>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-floating mt-10 mb-15">
                          <div class="text-xs-start fs-6 mb-10"><small>Already a Member? <a href="" class="algae--color">Sign In</a></small></div>
                          <div class="d-grid gap-2">
                            <button type="button" class="btn btn-fill-green btn-medium rounded-pill btn-block">Continue</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-floating mt-10 els-social-icons">
                          <div class="text-xs-start fs-6 mb-10"><small>Or get started with</small></div>
                          <div class="els-icons">
                            <a href="" class="btn btn-mini btn-fill-dark btn-facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="" class="btn btn-mini btn-fill-dark btn-google shadow-lg"><img src="images/googleicon.svg" style="width: auto;height: 15px;margin: -5px 0 0 0;" alt="" /></a>
                            <a href="" class="btn btn-mini btn-fill-dark btn-twitter"><i class="fab fa-twitter"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="employer-content" role="tabpanel" aria-labelledby="employer-tab" area-hidden="true">
                    Content goes here.
                  </div>
                </div>
              </div>
            </div>
          <!-- </div>
        </div> -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-fill-light rounded-pill btn-medium" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-fill-green rounded-pill btn-medium">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>

<app-footer></app-footer>
