<app-header></app-header>
<div class="space-top-block"></div><!--Display when menu open - mobile-->
<!--START PAGE MAIN CONTENT-->
<!--======================================-->
<!--====================================================-->
<!--POST A JOB PAGE BLOCK ONE-->
<!--============================================-->
<div class="post-a-job-block-one">
   <div class="overlay-post-j-b-o">
      <div class="content-container">
         <div class="pc-post-b-o-view">
            <p class="post-a-header-b-o">Simply Post a Job</p>
            <div class="flex-item-post-a-j-b-o-ch">
               <img src="assets/img/homepage/heart.svg" alt="name"><p class="description-pst-ap-b-o">Connect with the right candidates.</p>
            </div>
            <div class="flex-item-post-a-j-b-o-ch">
               <img src="assets/img/homepage/heart.svg" alt="name"><p class="description-pst-ap-b-o">Get featured on the homepage or in the “Featured Companies Page” for at least 7 days.</p>
            </div>
            <a href="#" class="no-style-link">
               <div class="buttonpost-aj-b-o">Post a Job</div>
            </a>
         </div>
      </div>
   </div>
   <div class="post-aj-left-b-one">
      <div class="content-container">
         <div class="mb-post-b-o-view">
            <p class="post-a-header-b-o">Simply Post a Job</p>
            <div class="flex-item-post-a-j-b-o-ch">
               <img src="assets/img/homepage/heart.svg" alt="name"><p class="description-pst-ap-b-o">Connect with the right candidates.</p>
            </div>
            <div class="flex-item-post-a-j-b-o-ch">
               <img src="assets/img/homepage/heart.svg" alt="name"><p class="description-pst-ap-b-o">Get featured on the homepage or in the “Featured Companies Page” for at least 7 days.</p>
            </div>
            <a href="#" class="no-style-link">
               <div class="buttonpost-aj-b-o">Post a Job</div>
            </a>
         </div>
      </div>
   </div>
   <div class="post-aj-right-b-one" style="background-image: url(assets/img/homepage/example-blog.png);"></div>
</div>
<!--POST A JOB PAGE BLOCK TWO-->
         <!--============================================-->
         <div class="post-a-job-block-two">
          <div class="post-a-j-or">
             <div class="post-j-real-or">
                or
             </div>
          </div>
          <div class="content-container">
             <p class="post-a-job-b-t-header">Create a Company Page</p>
             <p class="post-a-job-b-t-description">Conversion increases by 8%</p>
             <div class="post-ajob-flex-b-t">
                <div class="left-pst-b-t-child">
                   <div class="flex-item-post-a-j-b-o-ch">
                      <img src="assets/img/homepage/heart.svg" alt="name"><p class="description-pst-ap-b-o">Connect with the right candidates.</p>
                   </div>
                   <div class="flex-item-post-a-j-b-o-ch">
                      <img src="assets/img/homepage/heart.svg" alt="name"><p class="description-pst-ap-b-o">Get featured on the homepage or in the “Featured Companies Page” for 7 days at least.</p>
                   </div>
                   <div class="flex-item-post-a-j-b-o-ch">
                      <img src="assets/img/homepage/heart.svg" alt="name"><p class="description-pst-ap-b-o">Account manager to manage your listing and your page.</p>
                   </div>
                </div>
                <div class="right-pst-b-t-child">
                   <a href="#" class="no-style-link">
                      <div class="post-aj-b-t-button">Get Started</div>
                   </a>
                </div>
             </div>
             <!--SECOND FLEX-->
             <div class="post-aj-flex-con-second">
                <div class="left-ch-post-aj-second">
                   <p class="left-heder-chi-fl-t">
                      Build a comprehensive page for your company with the help of our experts.
                      We help your company create a connection with candidates before they step into your offices.
                      <br> <br>
                      Customize specific details featuring on your page.
                   </p>
                   <div class="flex-item-post-a-j-b-o-ch">
                      <img src="assets/img/homepage/heart.svg" alt="name">
                      <p class="description-pst-ap-b-o">
                         <a href="#" class="no-style-link in-post-j-b">Introduction + Slideshow</a>
                      </p>
                   </div>
                   <div class="flex-item-post-a-j-b-o-ch">
                      <img src="assets/img/homepage/heart.svg" alt="name">
                      <p class="description-pst-ap-b-o">
                         <a href="#" class="no-style-link in-post-j-b">Office Tours </a>
                      </p>
                   </div>
                   <div class="flex-item-post-a-j-b-o-ch">
                      <img src="assets/img/homepage/heart.svg" alt="name">
                      <p class="description-pst-ap-b-o">
                         <a href="#" class="no-style-link in-post-j-b">Employees Speak </a>
                      </p>
                   </div>
                   <div class="flex-item-post-a-j-b-o-ch">
                      <img src="assets/img/homepage/heart.svg" alt="name">
                      <p class="description-pst-ap-b-o">
                         <a href="#" class="no-style-link in-post-j-b">Work-culture & Ethos</a>
                      </p>
                   </div>
                   <div class="flex-item-post-a-j-b-o-ch">
                      <img src="assets/img/homepage/heart.svg" alt="name">
                      <p class="description-pst-ap-b-o">
                         <a href="#" class="no-style-link in-post-j-b">Eating Facilities, Office Amenities, & Office Events </a>
                      </p>
                   </div>
                   <div class="flex-item-post-a-j-b-o-ch">
                      <img src="assets/img/homepage/heart.svg" alt="name">
                      <p class="description-pst-ap-b-o">
                         <a href="#" class="no-style-link in-post-j-b">Social Media Links</a>
                      </p>
                   </div>
                   <div class="flex-item-post-a-j-b-o-ch">
                      <img src="assets/img/homepage/heart.svg" alt="name">
                      <p class="description-pst-ap-b-o">
                         <a href="#" class="no-style-link in-post-j-b">Articles about the Company </a>
                      </p>
                   </div>
                   <div class="right-pst-b-t-child">
                      <a href="#" class="no-style-link">
                         <div class="post-aj-b-t-button">Get Started</div>
                      </a>
                   </div>
                </div>
                <div class="right-ch-post-aj-second">
                   <img src="assets/img/homepage/example-blog.png" alt="">
                </div>
             </div>
          </div>
       </div>
          <!--POST A JOB PAGE BLOCK THREE-->
         <!--============================================-->
         <div class="post-a-job-block-three">
          <div class="content-container">
             <div class="flex-container-post-j-b-th">
                <!--ITEM-->
                <div class="child-item-post-a-j-b-th">
                   <img src="assets/img/postajob/item1.svg" alt="name">
                   <p class="lst-post-j-text">Enhance Brand<br>Awareness </p>
                </div>
                <!--ITEM-->
                <div class="child-item-post-a-j-b-th">
                   <img src="assets/img/postajob/item2.svg" alt="name">
                   <p class="lst-post-j-text">Competitive<br>Edge </p>
                </div>
                <!--ITEM-->
                <div class="child-item-post-a-j-b-th">
                   <img src="assets/img/postajob/item3.svg" alt="name">
                   <p class="lst-post-j-text">Unique Insights<br>from employees</p>
                </div>
                <!--ITEM-->
                <div class="child-item-post-a-j-b-th">
                   <img src="assets/img/postajob/item4.svg" alt="name">
                   <p class="lst-post-j-text">Emphasis on<br>Diversity</p>
                </div>
             </div>
             <a href="#" class="no-style-link">
                <div class="post-aj-b-t-button-last-post">Get Started</div>
             </a>
          </div>
       </div>
       <app-footer></app-footer>
